.block{
    width: 70%;
    height: auto;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}
.example-radio-button {
margin: 5px;
}
.entete{
    background-color: #28a745;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.example-form {
    display: flex;
    justify-content: space-around;
}
.modifDate{
    width: 80%;
    font-size: 15px;
}
.champs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    label{
        width: 170px;
        font-weight: normal;
    }
}
#search{
    width: 114px;
    justify-content: flex-start;
}
.div-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    flex-wrap: wrap;
}
th{
    background-color: rgba(40, 167, 69, 0.2);
    color: #28a745 !important;
}
@media screen and (max-width: 600px) {
    .example-form, .champs{
        flex-direction: column;
        justify-content: flex-start;
        label{
            align-items: flex-start;
        }
    }
}