<div id="mainSection">
  <div class="card block">
      <div class="card-header pt-4 pb-4 entete">Achat de Produits</div>
      <div class="card-body">
          <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
              <div class="">
                  <div class="">
                      <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="libelle" class="label">
                                    libelle
                                  </label>
                                  <input type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="{{'ressource.table.title1' | translate}}"  class="form-control" required>
                              </div>
                              <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                                  <div *ngIf="f['libelle'].errors['required']">Champ obligatoire</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="champs">
                            <label  for="quantiteMin"  class="label" >
                              quantiteMin
                            </label>
                            <input type="number" list="" formControlName="quantiteMin" name="quantiteMin" id="quantiteMin" placeholder="quantiteMin" class="form-control" >
                        </div>
                        <div  *ngIf="submitted && f['quantiteMin'].errors"  class="alert alert-danger" >
                          <div *ngIf="f['quantiteMin'].errors['quantiteMin']">Champ obligatoire</div>
                      </div>
                    </div>


                      <div class="form-group">
                          <div class="champs">
                              <label  for="quantiteMax"  class="label" >
                                quantiteMax
                              </label>
                              <input type="number" formControlName="quantiteMax" name="quantiteMax" id="quantiteMax" placeholder="quantiteMax" class="form-control" >
                          </div>
                          <div  *ngIf="submitted && f['quantiteMax'].errors"  class="alert alert-danger" >
                            <div *ngIf="f['quantiteMax'].errors['required']">Champ obligatoire</div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="champs">
                            <label  for="montantMin"  class="label" >
                              quantiteMax
                            </label>
                            <input type="number" formControlName="montantMin" name="montantMin" id="montantMin" placeholder="montantMin" class="form-control" >
                        </div>
                        <div  *ngIf="submitted && f['montantMin'].errors"  class="alert alert-danger" >
                          <div *ngIf="f['montantMin'].errors['required']">Champ obligatoire</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="champs">
                          <label  for="montantMax"  class="label" >
                            quantiteMax
                          </label>
                          <input type="number" formControlName="montantMax" name="montantMax" id="montantMax" placeholder="montantMax" class="form-control" >
                      </div>
                      <div  *ngIf="submitted && f['montantMax'].errors"  class="alert alert-danger" >
                        <div *ngIf="f['montantMax'].errors['required']">Champ obligatoire</div>
                    </div>
                  </div>


                      <div class="form-group">
                        <div class="champs">
                            <label  for="type"  class="label" >
                              type
                            </label>
                        <select  class="form-control" formControlName="type" name="type" id="type" required>
                          <option>Assigner</option>
                          <option>Assigner</option>
                          <option>Assigner</option>
                      </select>
                        </div>
                    </div>


                    <div class="form-group">
                      <div class="champs">
                          <label  for="type"  class="label" >
                            Fournisseur
                          </label>
                      <select  class="form-control" formControlName="fournisseur" name="fournisseur" id="fournisseur" required>
                        <option>Ac</option>
                        <option>wigner</option>
                        <option>vbx</option>
                    </select>
                      </div>
                  </div>
              </div>
              <div class="actionButton">
                <button class="btn" routerLink="../list-ressources">{{'lists.button2' | translate}}</button>
                  <button type="submit" class="btn">{{btnLibelle}}</button>
              </div>
            </div>
            </form>
      </div>
  </div>
</div>




<P>{{forme.value|json}}</P>
