<div id="mainSection" class="d-flex flex-column justify-content-around">
    <div class="title">
        <h2>{{"lists.title" | translate}} personnels</h2>
        
    </div>
    <div class="card container-fluid" >
        <div class='card-hearder pt-3' >
            <div class="d-flex align-items-center justify-content-end tableTools">
                <div class="form-inline mr-3">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label class="searchBar">{{'personnel.search-bar' | translate}}</mat-label>
                          <input type="text" matInput aria-label="Rechercher" [formControl]="myControl" [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions" [value]="option" (onSelectionChange)="rechercherListingPersonnel(option)">
                              {{option.nom}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <div role="button" id="addUserBotton" routerLink="../nouveau-personnel">
                    <span title="Ajouter un personnel">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-body p-0" id="tableBlock">
            <div class="table-responsive w-100">
                <table class='table table-sm table-centered table-striped table-bordered w-100' mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
              
                  <!-- nom Column -->
                  <ng-container matColumnDef="nom">
                    <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{"personnel.table.title1" | translate}} </th>
                    <td class="text-dark text-center containCell" mat-cell *matCellDef="let element"> {{element.nom}} </td>
                  </ng-container>
              
                  <!-- prenom Column -->
                  <ng-container matColumnDef="prenom">
                    <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{"personnel.table.title2" | translate}} </th>
                    <td class="text-dark text-center containCell" mat-cell *matCellDef="let element"> {{element.prenom}} </td>
                  </ng-container>
              
                  <!-- birthday Column -->
                  <ng-container matColumnDef="dateNaissance">
                    <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"personnel.table.title3" | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.dateNaissance | date: 'dd/MM/yyyy'}} </td>
                  </ng-container>
              
                  <!-- sexe Column -->
                  <ng-container matColumnDef="sexe">
                    <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"personnel.table.title4" | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.sexe}} </td>
                  </ng-container>

                  <!-- mail Column -->
                  <ng-container matColumnDef="email">
                    <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"personnel.table.title5" | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>

                  <!-- telephone Column -->
                  <ng-container matColumnDef="telephone">
                    <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"personnel.table.title7" | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.telephone}} </td>
                  </ng-container>

                   <!-- dateEntree Column -->
                   <ng-container matColumnDef="dateEntree">
                    <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"personnel.table.title6" | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.dateEntree}} </td>
                  </ng-container>
                  
                  <!-- action Column -->

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator style="background-color: rgba(40, 167, 69, 0.79);" [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
              
        </div>
    </div>
</div>
