#mainSection{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}
#rigthSection{
 // background-color: rgba(12, 153, 247, 0.911);
  // position: absolute;
  // right: 0;
  //box-shadow: 0 0 6px #7ea97e4b;
 // box-shadow: 0 0 6px #ecec1a;
  //padding: 2px 10px;
  height: max-content !important;
  width: 25%;
 // padding: 5px;


}

.titleBlock{
 // background-color: #f80a0a;
  //color: white;
  text-align: center;
  font-size:8px;
  font-weight: bold;

}
.contentBlock{
  display: flex;
  flex-direction: column;
  align-items: start;
  //background:none;
 //background-color:#eb5419;
  div{
    margin: 5px;
    input{
      padding: 5px;
      border: none;
      border-radius: 5px;
      background: none;
    }
  }
.info, input{
 font-size: 14px;
 background-color: none;

}
 .color{
  //box-shadow: 0 0 6px #00FF00;
   border-radius: 5px;
   background-color: #1473e6;
   width: 100%;
   margin: 10px 0;
   height: 100px;
   box-shadow: 0 0 6px #7ea97e82;
   color: #fffefee4;
   position:relative;
   //z-index: 1;
}
/*.color1{
  //box-shadow: 0 0 6px #00FF00;
   border-radius: 5px;
   background-color: #FDF1B8;
   width: 100%;
   margin: 10px 0;
   height: 100px;
   box-shadow: 0 0 6px #7ea97e82;
   color: #fffefee4;
   //position: relative;
}*/
/*.color2{
  //box-shadow: 0 0 6px #00FF00;
   border-radius: 5px;
   background-color: #E73E01;
   width: 100%;
   margin: 10px 0;
   height: 100px;
   box-shadow: 0 0 6px #7ea97e82;
   color: #fffefee4;
   position: relative;
}*/

.suppression{
  width: 100%;
  background-color: #A9EAFE;
  position: absolute;
  bottom: 0;
  padding: 2px;
  margin: 0px 2px -1px -5px;
}
/*.suppression1{
  width: 100%;
  background-color: #FEFEE2;
  position: absolute;
  bottom: 0;
  padding: 2px;
  margin: 0px 2px -1px -5px;
}
.suppression2{
  width: 100%;
  background-color: #FFE4C4;
  position: absolute;
  bottom: 0;
  padding: 2px;
  margin: 0px 2px -1px -5px;
}*/
div button{
  //display: flex;
  align-content: center;
  display:inline-flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  align-items: center;
  justify-content:center;
  //margin: 0 2%;
  margin-left: 50px;
  border: none;
  background: none;
}
#left{
  margin-left: 90px;
}
#right{
  margin-left: -5px;
}
/*#libe{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#libe div{
  color: rgb(0, 255, 98);
  font-size: small;
  margin-top: 0.25rem;
}*/
.essai{
 text-decoration: none;
 background-color: none;
 font-size: 12px;
}
h4{
  font-size: 10px;
}
.actionButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  flex-wrap: wrap;
  button{
      background-color: #34C924;
      //background-color: #7ea97e;
      color: white;
      height: 30px;
      padding: 0 10px;
      margin: 5px;
      font-size: 14px;
      opacity: 0.8;
  }
  button:hover{
      opacity: 1;
  }
}


}
.block{
  width: 60%;
}
.entete{
  //background-color: #7ea97e;
  background-color: #28a745;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  //width:628px;
 // margin-left: -20px;
  //margin-top: -20px;
}.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
.rigth{
   margin-top: -8px;
}
.entete0{
  background-color: #28a745;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 65px;
}
.entete1{
  background-color: #28a745;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  //width:620px;
  //margin-left: -20px;
 // margin-top: -20px;
}.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
.entete2{
  background-color: #28a745;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  //width:620px;
  //margin-left: -20px;
  //margin-top: -20px;
}.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
.entete3{
  //background-color: #7ea97e;
  color: black;
  text-align: center;
  font-size: 22px;
  font-weight: bold;

}.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
.champs{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  label{
      width: 300px;
      font-weight: normal;
  }
}
.champs, select,input{
  font-size: 15px;
}
select{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 24px;
  background-color: #7ea97e63;
  color: rgb(108, 108, 108);
  padding: 0 10px;
  border-radius: 5px;
}
/*.select{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  background-color: #7ea97e63;
  color: rgb(108, 108, 108);
  border-radius: 5px;
  width: 100%;
}*/

.actionButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  flex-wrap: wrap;
  button{
    background-color: #34C924;
 // background-color: #7ea97e;
      color: white;
      height: 30px;
      padding: 0 10px;
      margin: 5px;
      font-size: 14px;
      opacity: 0.8;
  }
  button:hover{
      opacity: 1;
  }
}

.precoMvtQteButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding-top: 20px ;
  padding-bottom: 10px ;
  border-bottom: 2px solid #7ea97e22;
  button{
      background-color: #7ea97e;
      color: white;
      height: 30px;
      padding: 0 10px;
      margin: 5px;
      font-size: 14px;
      opacity: 0.8;
  }
  button:hover{
      opacity: 1;
  }
  .circleBtn{
    height: 30px;
    width: 30px;
    font-size: 18px;
    border: none;
    border-radius: none;
    border-radius: 100%;
  }
}

  input[ type=checkbox ]{
  border: none;
  color: red;
  margin-right: 265px;
  height: 17px;
  //row-direction: row-reverse;
  //justify-content:start;
  }


input, #famille{
  border:none;
  box-shadow:none;
  //margin-top: -23px;
 }
input, #etat{
  border: none;
  box-shadow: none;
}
a{
  background-color: #7ea97e;
  width: 62px;
  height:12px;
  color: #fff;
  padding-bottom: 25px;
  font-size: 16px;

}
#next{
 display:flex;
 justify-content: space-between;
 //margin-left: 460px;
}

#essai{
  margin-top:25px;
}
.label3{
//line-height:15px;
margin-top: -8px;
}
#label3{
margin-bottom: -10px;
}
mat-form-field:focus{
  border: none;
  padding: 0;
  margin: 0;
  border-top: none;
  input{
      padding: 0;
      color: #7ea97e;
      border: none;
      margin: 0;
      top: -10px;

  }
}

.example-full-width {
  height: 35px !important;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  width: 100%;
  position: relative;
  color: #7ea97e;
  line-height: normal;
  box-sizing: initial;
  input{
    position: absolute;
    padding: 0;
    border: 2px;
    margin: 0;
    top: -12px;

  }
}

@media screen and (max-width: 1200px) {
  input[ type=checkbox ]{
    margin-right: 185px;
   }

}
@media screen and (max-width: 1100px) {
  input[ type=checkbox ]{
    margin-right: 180px;
    }

}
@media screen and (max-width: 1060px) {
  input[ type=checkbox ]{
    margin-right: 150px;
    }

}
@media screen and (max-width: 900px) {
  input[ type=checkbox ]{
    margin-right: 200px;
    }

}
@media screen and (max-width: 990px) {
  input[ type=checkbox ]{
    margin-right:200px;
    }

}
@media screen and (max-width: 866px) {
  input[ type=checkbox ]{
    margin-right:180px;
    }

}
@media screen and (max-width: 751px) {
  input[ type=checkbox ]{
    margin-right:140px;
    }

}
@media screen and (max-width: 699px) {
  input[ type=checkbox ]{
    margin-right:120px;
    }

}
@media screen and (max-width: 594px) {
  input[ type=checkbox ]{
    margin-right:80px;
    }

}
@media screen and (max-width: 522px) {
  input[ type=checkbox ]{
    margin-right:60px;
    }
}
@media screen and (max-width: 428px) {
  input[ type=checkbox ]{
    margin-right:30px;
    }

}

@media screen and (max-width: 500px) {

  .example-full-width{
       width:80px;
       display:flex;
       justify-content:space-around;
     }
}

@media screen and (max-width: 990px) {
  input[ type=checkbox ]{
    margin-right:200px;
    }

}
@media screen and (max-width: 866px) {
  input[ type=checkbox ]{
    margin-right:180px;
    }

}
@media screen and (max-width: 751px) {
  input[ type=checkbox ]{
    margin-right:140px;
    }

}
@media screen and (max-width: 699px) {
  input[ type=checkbox ]{
    margin-right:10px;
    }

}
@media screen and (max-width: 500px) {

  .example-full-width{
       width:100px;
       display:flex;
       justify-content:space-around;
     }
}
