

<div id="mainSection">
  <div class="card block">
    <div class="card-body p-0 m-0">
      <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" g-reflect-forme="[object Object]" class="ng-valid ng-untouched ng-pristine ng-submitted">
        <div *ngIf="steps != 2 && steps != 3" class="w-100 pt-4 pb-4 entete">Nouvelle Préconisation</div>
          <div *ngIf="steps==2" class="w-100 pt-4 pb-4 entete1" >Assigner aux Familles</div>
          <div *ngIf="steps==3" class="w-100 pt-4 pb-4 entete2">Assigner Une Ressource</div>

          <div class="w-100 mt-4 pt-0 pl-2 pr-2 pb-0">
            <div class="w-100">
              <div  *ngIf="steps==1" class="w-100">
                <div class="form-group">
                  <div>
                    <div class="champs">
                      <label for="libelle" class="label">
                        libelle
                      </label>
                      <input [attr.disabled]="steps!=1 || null" type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="{{'ressource.table.title1' | translate}}"  class="form-control" required>
                    </div>
                  </div>
              </div>

                <div class="form-group" id="eta">
                  <div>
                      <div class="champs">
                        <label for="etat" class="label" >
                          Etat
                        </label>
                        <input  type="checkbox" formControlName="etat" name="etat" class="form-control" id="etat" placeholder="" required checked>
                      </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="champs">
                    <label  for="type"  class="label" >
                      Type
                    </label>
                    <select class="form-control" formControlName="type">
                      <option class="label" *ngFor="let typeM of typeMvt" value="{{ typeM }}" >
                        {{ typeM }}
                      </option>
                    </select>
                  </div>
                </div>
            </div>
            </div>
          </div>

        <div *ngIf="steps == 2" class="form-group pt-0 pl-2 pr-2 pb-0">
          <div class="champs">
            <label for="famille" class="label">
              Famille
            </label>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Famille</mat-label>
              <mat-select [formControl]="famille" multiple>
                <mat-option *ngFor="let membre of familles$ |async" [value]="membre">{{membre.libelle}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
        <div  *ngIf="steps==3" class="form-group pt-0 pl-2 pr-2 pb-0">
          <div class="champs"  id="ressource">
              <label  for="ressource"  class="label" id="label3">
                Ressource
              </label>
              <mat-form-field class="example-full-width" appearance="fill">
                  <input [attr.disabled]="steps==3 || null" type="text" matInput [matAutocomplete]="auto" aria-label="ressource" formControlName="ressource" [formControl]="myControl" ng-reflect-name="ressource">
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                  <mat-option *ngFor="let option of filteredOptions" [value]="option">
                      {{option.libelle}}
                  </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
          </div>
        </div>

        <div *ngIf="steps == 2 || steps == 3" class="pt-0 pl-2 pr-2 pb-0">
          <div class="form-group">
            <div class="champs">
                <label  for="quantiteMin"  class="label" >
                  Quantité Min
                </label>
                <input [attr.disabled]="steps==1 || null" type="number" formControlName="quantiteMin" name="quantiteMin" class="form-control" id="quantiteMin" placeholder="Entrer la quantite minimale" >
            </div>
          </div>

          <div class="form-group">
              <div class="champs">
                  <label  for="quantiteMax"  class="label" >
                    Quantité Max
                  </label>
                  <input type="number" formControlName="quantiteMax" name="quantiteMax" class="form-control" id="quantiteMax" placeholder="Entrer la quantite miximale" >
              </div>
          </div>

          <div class="form-group">
            <div class="champs">
              <label  for="montantMax"  class="label" >
                Montant Min
              </label>
              <input type="number" formControlName="montantMax" name="montantMax" id="montantMax" placeholder="Entrer le montant minimal" class="form-control" >
            </div>
          </div>

          <div class="form-group">
            <div class="champs">
                <label  for="montantMin"  class="label" >
                  Montant Max
                </label>
                <input type="number" formControlName="montantMin" name="montantMin" class="form-control" id="montantMin" placeholder="Entrer le montant miximal" >
            </div>
          </div>

          <div class="form-group">
            <div class="champs">
              <label  for="fournisseur"  class="label" >
                Fournisseur
              </label>
              <select class="form-control" formControlName="fournisseur"  name="fournisseur" id="fournisseur">
                <option>Selectionnez un fournisseur</option>
                <option>EVC</option>
                <option>ACC</option>
                <option>DCD</option>
              </select>
            </div>
        </div>
        </div>
        <div class="actionButton">
          <button class="btn" *ngIf="steps == 0">Back</button>
          <button type="btn" class="btn" routerLink="../list-precomvts">Annuler</button>
          <button type="submit" class="btn" (click)="steps = 2; enregistrerValeurPrecomvtqte(forme.value)">Famille</button>
          <button type="submit" class="btn" (click)="steps = 3; enregistrerValeurPrecomvtqte(forme.value)">Ressource</button>

        </div>
      </form>
    </div>
  </div>
  <div id="rigthSection" class="card">
    <div class="titleBlock" id="titleBlock">
      <h2>Etape</h2>
    </div>

    <div class="contentBlock">
      <div *ngFor="let elt of eltsPreco let i=index" >
        <div class="color">
        <input class="essai" type="button" id="{{i}}" value="{{elt.libelle}}" (click)="chargerValeurPrecoMvt(i)"><br/>
      </div>
      </div>
      <div class="color1">
        <h4>vvvv</h4>
      </div>
      <div class="color2">
        <h4>vvvv</h4>
      </div>
      <div class="actionButtons">
        <button type="submit" class="btn" routerLink="../list-precomvts" *ngIf="steps != 4" (click)="steps = 4">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
