#mainSection{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}
#rigthSection{
  height: 100% !important;
  width: 25%;
  position: relative;
  background-color: #fff;
  border: 2px solid #28a745;
  border-radius: none;
}
.titleBlock{
  text-align: center;
  font-size: 8px;
  font-weight: bold;
  background-color: #28a745;;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  height: 65px;
  width: 100.95%;
  position: relative;
  right: 1px;
}
.rigth{
   margin-top: -8px;
}
.contentBlock{
  overflow-y: scroll;
  // padding-top: 330px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .infosBoitier{
    display: flex;
    flex-direction: column;
    padding: 0;
    #boitierLibelle{
      display: flex;
      flex-direction: column;
      p{
        width: 100%;

      }
    }
     .blockQuantite{
       display: flex;
       flex-direction: row;
       align-items:flex-start;
       justify-content: space-between;
        p{
          width: 48%;
         span{
           font-style: italic;
          }
        }
    }
  }
  .info{
    font-size: 12px;
    color: #212529;
    padding-left: 8px;
  }
  .coloredBlock{
    border-radius: 5px;
    background-color:#17a2b8e1;
    width: 98%;
    height: fit-content;
    box-shadow: 0 0 6px #28a74616;
    color: #fffefee4;
    position:relative;
    margin-top: 5px;
  }
  .suppression{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:#17a3b8;
    width: 100%;
    padding: 2px;
    align-items: center;
    justify-content: center;
  }
  .suppression button{
    border: none;
    background: transparent;
    width: 50%;
    text-align: center;
    &:first-child{
      border-right: 2px solid rgba(255, 255, 255, 0.123);
    }
  }
  .essai{
  text-decoration: none;
  background-color: none;
  font-size: 12px;
  }
  h4{
    font-size: 10px;
  }
  .actionButtons{
    justify-content: center;
    margin: 10px auto;
    flex-wrap: wrap;
    button{
        margin: 5px;
        font-size: 14px;
    }
  }
  .btnValSection{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    position: absolute !important;
    bottom: 0 !important;
    button{
      margin: auto;
    }
  }
}
.openformStep{
  background-color: #FFD700;
  border-radius: 5px !important;
  width: 80px !important;
  height: 32px !important;
}
.block{
  width: 60%;
}
.entete{
  background-color: #28a745;;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
.entete1{
  background-color: #28a745;;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
.entete2{
  background-color: #28a745;;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
.entete3{
  color: black;
  text-align: center;
  font-size: 22px;
  font-weight: bold;

}.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
select{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 24px;
  background-color: #28a74632;
  color: rgb(108, 108, 108);
  padding: 0 10px;
  border-radius: 5px;
}
.error{
  display: flex;
  font-style: italic;
  align-items:start;
  color: red;
  width: 100%;
  padding-left: 5px;
  padding-top: 5px;
}
.mat-option {
  color: #fff;
}
input, #famille{
  border:none;
  box-shadow:none;
 }
input, #etat{
  border: none;
  box-shadow: none;
}
#next{
 display:flex;
 justify-content: space-between;
}

#essai{
  margin-top:25px;
}
.label3{
margin-top: -8px;
}
#label3{
margin-bottom: -10px;
}
.example-full-width {
  height: 35px !important;
  border: 1px solid #28a74653;
  border-radius: 5px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  color: #28a745;
  line-height: normal;
  box-sizing: initial;
  input{
    position: absolute;
    padding: 0;
    border: 2px;
    margin: 0;
    top: -12px;

  }
}