
#mainBlock{
    background-color: #ffffff;
    padding: 5px;
    width: 50%;
    margin: auto;
}
.searchBlock{
    width: 100% !important;
    padding: 0 5px;
    position: relative;
    div{
        display: flex;
        align-items: center;
        label{
            margin-right: 5px;
        }
    }
    form{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
.example-form-entete{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    h4{
        font-size: 13px;
        margin-right: 2px;
        width: fit-content;
    }
}
#tableBlock{
    margin-top: 25px !important;
}
.texteErreur{
    position: absolute;
    right: 2px;
    bottom: 5%;
    p{
        font-size: small;
        font-style: italic;
        color: rgba(255, 0, 0, 0.766);
    }
}
.texteErreurChange span{
    font-size: 8px;
    color: red;
    font-style: italic;
    position: relative;
    top: -2px;
}
.choixCell{
    position: relative;
}
.coverFull{
    display: none;
}
.choixCell:hover{
    .coverFull{
        display: block;
        background-color: #d2d2d25f;
        position: absolute;
        top: 0;
        height: 50px;
        width: 100%;
        display: flex;
        span{
            margin: auto;
            i{
                font-size: 18px;
                color: #f571719d;
            }
        }
    }
}
@media screen and (max-width: 950px ) {
    #mainBlock{
        width: 60%;
    }
}
@media screen and (max-width: 800px ) {
    #mainBlock{
        width: 70%;
    }
}
@media screen and (max-width: 700px ) {
    #mainBlock{
        width: 80%;
    }
}
@media screen and (max-width: 600px ) {
    #mainBlock{
        width: 90%;
    }
}
@media screen and (max-width: 550px ) {
    #mainBlock{
        width: 100%;
    }
    .searchBlock{
        form{
            flex-wrap: wrap-reverse;
            div{
                width: 80%;
            }
            label{
                width: 40%;
            }
        }
        .etatInput{
            margin-bottom: 5px;
        }
    }
}