*{
    clear: both;
}
mat-form-field:focus{
border: none;
padding: 0;
margin: 0;
input{
    padding: 0;
    border: none;
    margin: 0;
}
}
.champs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    label{
        width: 300px;
        font-weight: normal;
    }
    mat-label{
        font-weight: normal;
        font-size: 12px;
        position: relative;
        bottom: 5px;
    }
    .example-full-width{
        width: 100%;
    }
}
.block{
    width: 60%;
}
#etat, #affichagePrix, #contientRessources, #contientDistributeurs{
    height: 20px;
    padding: 0;
    input{
        border: none;
        box-shadow: none;
        padding: 0;
    }
}
.entete{
    background-color: #28a745;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.select{
    border: none;
    box-shadow: 0 0 2px rgb(220, 220, 220);
    background-color: #28a74563;
    color: rgb(108, 108, 108);
    border-radius: 5px;
    width: 100%;
}
.ordreInput{
    width: 70px;
    height: 22px;
    font-size: 11px;
}
.newCatSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    label{
        width: fit-content;
        white-space: nowrap;
        margin-right: 20px;
    }
    input{
        font-size: 12px;
    }
    #ordreCategorie{
        width: 50px;
    }
}
.groupChamps{
    display: flex;
    width: 100%;
    .form-group{
        width: 60%;
    }
    .champs{
        margin: 2px 0;
        width: 100%;
    }
}
@media screen and (max-width: 830px) {
    .listAttr{
        width: 100%;
    }
}