<div id="mainSection">
  <div class="card block" id="top1">
      <div class="card-header" class="entete pt-4 pb-4"> {{'ressource.table.title' | translate}}</div>
      <div class="card-body">
          <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
              <div class="">
                  <div class="">
                      <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="libelle" class="label">
                                    {{'ressource.table.title1' | translate}}
                                  </label>
                                  <input type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="{{'ressource.table.title1' | translate}}"  class="form-control">
                              </div>
                              <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                                  <div *ngIf="f['libelle'].errors['required']">{{'ressource.form.text1' | translate}}</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="etat" class="label" >
                                    {{'ressource.table.title2' | translate}}
                                  </label>
                                  <p class="w-100 d-flex align-items-center choix" >
                                    <input  type="checkbox" checked  value="true"formControlName="etat"  name="etat" id="etat" placeholder="" class="form-control" >
                                  </p>
                              </div>

                          </div>
                      </div>
                      <div class="form-group">
                          <div class="champs">
                              <label  for="quantite"  class="label" >
                                {{'ressource.table.title3' | translate}}
                              </label>
                              <input type="number" list="" formControlName="quantite" name="quantite" id="quantite" placeholder=" {{'ressource.table.title3' | translate}}" class="form-control" >
                          </div>
                          <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                            <div *ngIf="f['libelle'].errors['required']">{{'ressource.form.text8' | translate}}</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="champs">
                            <label  for="unite"  class="label" >
                              {{'ressource.table.title4' | translate}}
                            </label>
                        <select  class="form-control" formControlName="unite" name="unite" id="unite">
                          <option>{{'ressource.form.text11' | translate}}</option>
                          <option>{{'ressource.form.text4' | translate}}</option>
                          <option>{{'ressource.form.text5' | translate}}</option>
                          <option>{{'ressource.form.text6' | translate}}</option>
                          <option>{{'ressource.form.text7' | translate}}</option>
                      </select>
                        </div>
                    </div>
                       <div class="form-group">
                          <div class="champs">
                              <label  for="prix"  class="label" >
                                {{'ressource.table.title5' | translate}}
                              </label>
                              <input type="number" formControlName="prix" name="prix" id="prix" placeholder=" {{'ressource.table.title5' | translate}}" class="form-control" >
                          </div>
                      </div>
                      <div class="form-group">
                    <div class="champs">
                        <label  for="famille"  class="label" >
                          {{'ressource.table.title6' | translate}}
                        </label>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label class="famill">  </mat-label>
                            <input  type="text" matInput [matAutocomplete]="auto"  aria-label="famille" [formControl]="myControl" name="famille" id="famille" placeholder="" class="form-control">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let option of filteredOptions" [value]="option" (click)="getIdFamille(option.id)" (onSelectionChange)="rechercherListingFamille(option)">
                                {{option.libelle}}
                            </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                      <div *ngIf="f['libelle'].errors['required']">{{'ressource.form.text9' | translate}}</div>
                  </div>

                  </div>
                  <div class="form-group">
                    <div class="champs">
                        <label  for="caracteristique"  class="label" >
                          {{'ressource.table.title7' | translate}}
                        </label>
                    <select  class="form-control" formControlName="caracteristique" name="caracteristique" id="caracteristique">
                      <option>{{'ressource.form.text15' | translate}}</option>
                      <option>{{'ressource.form.text12' | translate}}</option>
                      <option>{{'ressource.form.text13' | translate}}</option>
                      <option>{{'ressource.form.text14' | translate}}</option>

                  </select>
                    </div>
                </div>
              </div>
              <div class="actionButton">
                <button class="btn" routerLink="../list-ressources">{{'lists.button2' | translate}}</button>
                  <button type="submit" class="btn">{{btnLibelle}}</button>
              </div>
            </div>
            </form>
      </div>
  </div>
</div>

