.example-stepper {
 //margin-top: 8px;
// background-color: white;
background-color: #7ea97e;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

/*.mat-label{
  width: 10000px;
  border: solid 1px;
}*/

mat-form-field{
  width: 230px;
}

#entete{
  background-color: white;
  margin-top: 10px;
  font-size: 20px;
  color: #7ea97e;
}

