<!--<ng-container [ngSwitch]="stepperOrientation | async">
  <div *ngSwitchCase="'horizontal'">Make your screen smaller to see a vertical stepper</div>
  <div *ngSwitchCase="'vertical'">Make your screen larger to see a horizontal stepper</div>
</ng-container>-->
<div class="card-header pt-4 pb-4 entete" id="entete">Définissez Vos Achats</div>
<mat-stepper class="example-stepper"
  [orientation]="(stepperOrientation | async)!">
  <mat-step [stepControl]="firstFormGroup" label="Insérer">
    <form [formGroup]="firstFormGroup">
      <mat-form-field>
        <mat-label> Votre Quantité Minimal</mat-label>
        <input matInput placeholder="20, 10" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Ensuite">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>La Quantité Maximal</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 100,200"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Poursuivez">
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <mat-label>Avec un Montant Minimal</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex.1000,2000" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Continuez">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field>
        <mat-label> Avec Un Montant Maximal</mat-label>
        <input matInput formControlName="thirdCtrl" placeholder="Ex. 10000, 20000" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" label="Terminer">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field>
        <mat-label >Avec le Type de Mvt à effectuer</mat-label>
        <input  id="etape" matInput formControlName="thirdCtrl" placeholder="Ex. Assigner, Retrait" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <!-- <button mat-button matStepperNext>Next</button>
        <button class="btn" routerLink="../list-ressources">Envoyer</button>-->
        <button type="submit" class="btn">{{btnLibelle}}</button>
      </div>
    </form>
  </mat-step>

 <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>-->

</mat-stepper>
