<div class="mainBlock card">
  <div class="entete">
      <h1>
          <span routerLink="../../list-precomvts" title=""><i class="fa fa-list lien" aria-hidden="true"></i></span>
         Tableau Des opérations effectuées
      </h1>

  </div>
  <div class="infos">
      <p id="titre">
          <span class="title">  </span>
         Bon à savoir
      </p>
      <p class="title">
        Données d'entrée
      </p>
      <div class="tableMissions card table-responsive">
          <table class="table table-striped table-sm table-inverse table-bordered">
              <thead class="thead-inverse">
                  <tr>
                      <th>Libellé</th>
                      <th>Etat</th>
                      <th>Type</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let precomvtqte of PrecoMvt.precomvtqte">
                      <td>{{PrecoMvt.libelle}}</td>
                      <td>{{PrecoMvt.etat}}</td>
                      <td>{{PrecoMvt.type}}</td>
                      <td  (click)="supprimerElt(precomvtqte)">
                       <a class="options" class="btn danger"><i class="fa solid fa-trash" style="color:red;"></i>
                        </a>
                      <a class="options" [routerLink]="['/precomvt-nouvelle',PrecoMvt.id]" class="">
                        <i class="fas fa-edit" style="color:blue;"></i>
                      </a></td>
                  </tr>
              </tbody>
          </table>

      </div>
      <p class="title">
         Tableau recaputilatif d'une préconisation
      </p>
      <div class="tableAttributs card table-responsive">
          <table class="table table-striped table-sm table-inverse table-bordered">
              <thead class="thead-inverse">
                  <tr>
                      <th>Ressource</th>
                      <th>Quantité Max</th>
                      <th>Quantité Min</th>
                      <th>Montant Max</th>
                      <th>Montant Min</th>
                      <th>Distributeur</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let precomvtqte of PrecoMvt.precomvtqte">
                      <td>{{precomvtqte.ressource!.libelle}}</td>
                      <td>{{precomvtqte.quantiteMax}}</td>
                      <td>{{precomvtqte.quantiteMin}}</td>
                      <td>{{precomvtqte.montantMax}}</td>
                      <td>{{precomvtqte.montantMin}}</td>
                      <td>{{precomvtqte.distributeur}}</td>
                      <td  (click)="supprimerElt(precomvtqte)">
                        <a class="options" class="btn danger"><i class="fa solid fa-trash" style="color:red;"></i>
                         </a>
                       <a  class="options" [routerLink]="['/precomvt-nouvelle',PrecoMvt.id]" class="">
                         <i class="fas fa-edit" style="color:blue;"></i>
                       </a></td>

                  </tr>
              </tbody>
          </table>
      </div><!--ici-->
      <div class="tableAttributs card table-responsive">
        <table class="table table-striped table-sm table-inverse table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>Famille</th>
                    <th>Quantité Max</th>
                    <th>Quantité Min</th>
                    <th>Montant Max</th>
                    <th>Montant Min</th>
                    <th>Distributeur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let precomvtqte of PrecoMvt.precomvtqte">
                    <td>{{precomvtqte.famille}}</td>
                    <td>{{precomvtqte.quantiteMax}}</td>
                    <td>{{precomvtqte.quantiteMin}}</td>
                    <td>{{precomvtqte.montantMax}}</td>
                    <td>{{precomvtqte.montantMin}}</td>
                    <td>{{precomvtqte.distributeur}}</td>
                    <td  (click)="supprimerElt(precomvtqte)">
                      <a class="options" class="btn danger"><i class="fa solid fa-trash" style="color:red;"></i>
                       </a>
                     <a  class="options" [routerLink]="['/precomvt-nouvelle',PrecoMvt.id]" class="">
                       <i class="fas fa-edit" style="color:blue;"></i>
                     </a></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div><!--ici-->
</div>
