<div class="mainBlock pageView card">
  <div class="enteteViewPage">
      <h1>
        {{'precomvt.title0' | translate}}
      </h1>
  </div>
  <div class="infos">
    <div class="tableMissions card table-responsive mt-3">
        <table class="table table-striped text-dark table-sm table-inverse table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>{{'precomvt.table3.title1' | translate}}</th>
                    <th>{{'precomvt.table3.title3' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{precoMvt.libelle}}</td>
                    <td>{{precoMvt.type}}</td>
                </tr>
            </tbody>
        </table>

    </div>
        <p class="title">
            {{'precomvt.title0' | translate}}
        </p>
        <div *ngIf="eltRessource.length>0" class="tableAttributs card table-responsive">
            <table class="table table-striped table-sm table-inverse text-dark table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>{{'precomvt.table3.title4' | translate}}</th>
                        <th>{{'precomvt.table3.title5' | translate}}</th>
                        <th>{{'precomvt.table3.title6' | translate}}</th>
                        <th>{{'precomvt.table3.title7' | translate}}</th>
                        <th>{{'precomvt.table3.title8' | translate}}</th>
                        <th>{{'precomvt.table3.title9' | translate}}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let precomvtqte of eltRessource">
                        <td> {{precomvtqte.ressource!.libelle}}</td>
                        <td>{{precomvtqte.quantiteMax}}</td>
                        <td>{{precomvtqte.quantiteMin}}</td>
                        <td>{{precomvtqte.montantMax}}</td>
                        <td>{{precomvtqte.montantMin}}</td>
                        <td>{{distCat(precomvtqte.distributeur!)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div  *ngIf="eltFamille.length>0" class="tableAttributs card table-responsive">
        <table class="table table-striped table-sm table-inverse text-dark table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>{{'precomvt.table3.title10' | translate}}</th>
                    <th>{{'precomvt.table3.title5' | translate}}</th>
                    <th>{{'precomvt.table3.title6' | translate}}</th>
                    <th>{{'precomvt.table3.title7' | translate}}</th>
                    <th>{{'precomvt.table3.title8' | translate}}</th>
                    <th>{{'precomvt.table3.title9' | translate}}</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let precomvtqte of eltFamille">
                    <td>{{libelleCat(precomvtqte.famille!)}}</td>
                    <td>{{precomvtqte.quantiteMax}}</td>
                    <td>{{precomvtqte.quantiteMin}}</td>
                    <td>{{precomvtqte.montantMax}}</td>
                    <td>{{precomvtqte.montantMin}}</td>
                    <td>{{distCat(precomvtqte.distributeur!)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
        <div class="actionButton valBtn mt-2">
            <button mat-button [mat-dialog-close] cdkFocusInitial class="btn btnValidation fermer" title="{{'lists.button10' | translate}}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
  </div>
</div>
