<div id="mainSection">
    <div class="card block" id="top2">
        <div class="card-header" class="entete pt-4 pb-4">
          {{"missions.title1" | translate}} {{titre}}
        </div>
        <div class="card-body">
            <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="libelle" class="label">
                                        {{'missions.table.title1' | translate}}<span style="color: red;" aria-label="required">*</span>
                                    </label>
                                    <input type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="{{'missions.table.title1' | translate}}"  class="form-control" required>
                                </div>
                                <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['libelle'].errors['required']">{{'missions.form.text1' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="etat" class="label" >
                                        {{'missions.table.title3' | translate}}
                                    </label>
                                    <p class="w-100 d-flex align-items-center choix" >
                                    <input  type="checkbox" checked value="true" formControlName="etat"  name="etat" id="etat" class="form-control">
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs champsSelect">
                                <label for="service" class="label" >
                                    {{'missions.table.title6' | translate}}<span style="color: red;" aria-label="required">*</span>
                                </label>
                                <div class="matSelectElement">
                                    <mat-select formControlName="service" name="service" [compareWith]="compareItem">
                                        <mat-option  *ngFor="let membre of services$ |async" [value]="membre">{{membre.libelle}}</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div  *ngIf="submitted && f['service'].errors"  class="alert alert-danger" >
                                <div *ngIf="f['service'].errors['required']">{{'missions.form.text6' | translate}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="description" class="label" >
                                      {{'missions.table.title2' | translate}}<span style="color: red;" aria-label="required">*</span>
                                  </label>
                                  <input  type="text" formControlName="description"  name="description" id="description" placeholder="{{'missions.table.title2' | translate}}" value="" required class="form-control">
                              </div>
                              <div  *ngIf="submitted && f['description'].errors"  class="alert alert-danger" >
                                  <div *ngIf="f['description'].errors['required']">{{'missions.form.text2' | translate}}</div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="actionButton valBtn" >
                    <button class="btn retour" routerLink="../list-missions" title="{{'lists.button2' | translate}}">
                        <i class="fa fa-reply mr-1" aria-hidden="true"></i>
                    </button>
                    <button type="submit" class="btn btnValidation" title="{{btnLibelle}}">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
