<div id="mainSection">
    <div class="card block" id="top2">
        <div class="card-header" class="entete pt-4 pb-4 ">{{ titre }}</div>
        <div class="card-body">
            <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="libelle" class="label">
                                        {{'missions.table.title1' | translate}}
                                    </label>
                                    <input type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="{{'missions.table.title1' | translate}}"  class="form-control" required>
                                </div>
                                <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['libelle'].errors['required']">{{'missions.form.text1' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="description" class="label" >
                                        {{'missions.table.title2' | translate}}
                                    </label>
                                    <input  type="text" formControlName="description"  name="description" id="description" placeholder="{{'missions.table.title2' | translate}}" value="" required class="form-control">
                                </div>
                                <div  *ngIf="submitted && f['description'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['description'].errors['required']">{{'missions.form.text2' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="etat" class="label" >
                                        {{'missions.table.title3' | translate}}
                                    </label>
                                    <p class="w-100 d-flex align-items-center choix" >
                                    <input  type="checkbox" checked value="true" formControlName="etat"  name="etat" id="etat" placeholder="{{'missions.table.title3' | translate}}"  class="form-control">
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="service" class="label" >
                                        {{'missions.table.title6' | translate}}
                                    </label>
                                    <div class="dropdown w-100">
                                        <button class="btn btn-outline-secondary w-100 dropdown-toggle text-left" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                {{'missions.form.text7' | translate}}
                                                </button>
                                        <div class="dropdown-menu" aria-labelledby="triggerId">
                                            <ul class="nav justify-content-center">
                                                <li class="nav-item dropdown-item" *ngFor="let services of (services$ |async) as service let i=index">
                                                    <label for="service">
                                                        <input type="radio" formControlName="service"  name="service" id="{{service[i].id}}" value="{{service[i].id}}" required class="radioButton" (change)="associerService($event)">
                                                        <span>{{services.libelle}}</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div  *ngIf="submitted && f['service'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['service'].errors['required']">{{'missions.form.text6' | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actionButton">
                    <button class="btn" routerLink="../list-missions"><i class="fa fa-reply mr-1" aria-hidden="true"></i>{{'lists.button2' | translate}}</button>
                    <button type="submit" class="btn btnValidation">{{btnLibelle}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
