#mainSection{
    padding: 10px;
    flex-direction: column;
    margin: auto;
    width: 70%;
}
.champs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    label{
        width: 300px;
        font-weight: normal;
    }
}
.tableBlock{
    width: 100%;
    div{
        width: 100%;
    }
    table{
        .actions{
            font-size: 12px;
        }
    }
}
.result{
    width: 100%;
}
.searchBlock{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    bottom: 20px;
}
.result h2{
    opacity: 0.6;
}
.example-full-width {
    border: 2px solid #28a745;
} 
#tableList{
    margin: 10px 0 30px 0;
}
.mat-header-cell {
    padding-top: 0;
    width: 20%;
}
th{
    background-color: rgba(40, 167, 69, 0.2);
    color: #28a745 !important;
    width: max-content;
    text-align: center;
}
.newAttSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    label{
        width: fit-content;
        white-space: nowrap;
        margin-right: 20px;
    }
    input{
        font-size: 12px;
    }
    #ordreCategorie{
        width: 50px;
    }
}
.controlObligatoire{
    input{
      background-color: #1473e6;
    }
    label{
        font-weight: normal;
    }
}
@media screen and (max-width: 830px) {
    .listAttr{
        width: 100%;
    }
}