#mainSection{
    justify-content: center;
    width: 100%;
}
.block{
    width: 100%;
}
.entete{
    background-color: #28a745;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px #28a745;
    border-radius: 5px;
    h2{
        margin: auto; 
    }
}
.actionButton{
    width: 100%;
    button{
        width: fit-content;
    }
}
#top2 {
    border: none !important;
    box-shadow: none !important;
}
.blockServices div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: none !important;
    box-shadow: none;
    label{
        padding: 10px 5px;
        color: #28a745;
        font-weight: normal;
        input{
            margin-right: 5px;
            color: #28a745;
        }
        input:checked{
            background-color: #28a745;
        }
    }
}
.blockpersonnesRatacheess {
    display: flex;
    flex-wrap: wrap;
  }
  
  .personnesRatacheess-wrapper {
    flex-wrap: wrap;
    gap: 10px; 
  }
  
  .personnesRatacheess-wrapper label {
    flex: 1 1 45%; 
    min-width: 45%; 
    margin-bottom: 10px;
  }
  
#ticketView{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #000000d4;
    width: 250px !important;
    div{
        width: 100%;
    }
    .title{
        position: relative;
        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        img{
            width: 45px;
            margin-right: 8px;
            margin-top: 10px;
        }
        small{
            position: absolute;
            bottom: 0;
            right: 0;
            color: #28a745;
            font-size: 8px;
        }
    }
    .objetTicket{
        h3{
            font-size: 12px;
            font-weight: bold;
        }
    }
    #filigramme{
        background: url("../../../../assets/img/logo_camnafaw.jpg") no-repeat top center;
        background-size: contain;
        #ticketContent{
            background-color: #ffffffe5;
            width: 100%;
            height: max-content;
            p{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 10px;
                font-style: italic;
                span{
                    font-weight: bold;
                }
            }
            .barCode{
                justify-content: center;
            }
        }
    }
}