<div class="mainBlock">
    <form [formGroup]="formeMissionExec"  *ngIf="formeMissionExec" >
                
        <h1>
            Quel est votre choix?
        </h1>
        <div class="infos">  
            <div class="block" formArrayName="_missionsDisponibles">
                <div class="inputBlock"  *ngFor="let mission of (missions$ | async); let i=index;">
                    <input type="button" class="button-control"  [name]="mission.id" [id]="mission.id" 
                             [title]="mission.description" [value]="mission.libelle"  (click)="choisirMission(mission.id, mission.libelle)">
                </div>
            </div>
        </div>
        <div class="infos" *ngIf="aDesDocumentsDispo">  
            <h3>
                Choix du document pour la mission {{missionChoisieLibelle}}?
            </h3>
            <div class="block" formArrayName="_documentsDisponibles">
                <div class="inputBlock"  *ngFor="let document of documents; let i=index;">
                    <input type="button" class="button-control"  [name]="document.id" [id]="document.id" 
                             [title]="document.description" [value]="document.titre"  (click)="choisirDocument(document.id)">
                </div>
            </div>
        </div>
    </form>
</div>
