<div id="mainSection">
    <div class="card block" id="top2">
        <div class="card-header" class="entete pt-4 pb-4">
            {{"patient.title1" | translate}} {{titre}}
        </div>
        <div class="card-body">
            <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme">
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="nom" class="label">
                                        {{'patient.table.title1' | translate}}<sup>*</sup>
                                    </label>
                                    <input type="text" formControlName="nom" name="nom" id="nom"
                                        placeholder="{{'patient.table.title1' | translate}}" class="form-control"
                                        required>
                                </div>
                                <div *ngIf="submitted && f['nom'].errors" class="alert alert-danger">
                                    <div *ngIf="f['nom'].errors['required']">{{'patient.form.text1' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="prenom" class="label">
                                        {{"patient.table.title2" | translate}}<sup>*</sup>
                                    </label>
                                    <input type="text" formControlName="prenom" name="prenom" id="prenom"
                                        placeholder="{{'patient.table.title2' | translate}}" class="form-control"
                                        required>
                                </div>
                                <div *ngIf="submitted && f['prenom'].errors" class="alert alert-danger">
                                    <div *ngIf="f['prenom'].errors['required']">{{'patient.form.text2' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs">
                                <label for="type" class="label">
                                    {{"patient.table.title4" | translate}}
                                </label>
                                <select class="form-control" formControlName="sexe" name="sexe" id="sexe">
                                    <option value="M" selected="selected">Homme</option>
                                    <option value="F">Femme</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="dateNaissance" class="label">
                                        {{"patient.table.title3" | translate}}<sup>*</sup>
                                    </label>
                                    <input type="date" formControlName="dateNaissance" name="dateNaissance"
                                        id="dateNaissance" placeholder="{{'patient.table.title3' | translate}}" value=""
                                        required class="form-control">
                                </div>
                                <div *ngIf="submitted && f['dateNaissance'].errors" class="alert alert-danger">
                                    <div *ngIf="f['dateNaissance'].errors['required']">{{'patient.form.text3' |
                                        translate}}</div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="mail" class="label">
                                        {{"patient.table.title5" | translate}}<sup>*</sup>
                                    </label>
                                    <input type="email" formControlName="mail" name="mail" id="mail"
                                        placeholder="{{'patient.table.title5' | translate}}" required
                                        class="form-control">
                                </div>
                                <div *ngIf="submitted && f['mail'].errors" class="alert alert-danger">
                                    <div *ngIf="f['mail'].errors['required']">{{'patient.form.text4' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="champs">
                                <label for="telephone" class="label">
                                    {{"patient.table.title7" | translate}}
                                </label>
                                <input type="text" formControlName="telephone" name="telephone" id="telephone"
                                    placeholder="{{'patient.table.title7' | translate}}" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="adresse" class="label">
                                        {{"patient.table.title6" | translate}}
                                    </label>
                                    <input type="text" formControlName="adresse" name="adresse" id="adresse"
                                        placeholder="{{'patient.table.title6' | translate}}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs">
                                <label for="famille" class="label">
                                    Personnes Rattachées
                                </label>
                                <input type="text" matInput [matAutocomplete]="auto" formControlName="myControl"
                                    [formControl]="myControl" aria-label="personne"
                                    placeholder="Entrer le nom de la personne" class="champsAutocomplate" />
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                                    (optionSelected)="onSelectPersonne($event)">
                                    <mat-option *ngFor="let option of filteredOptions" [value]="option"
                                        (click)="rechercherListingPersonne(option)">
                                        {{ option.nom }}
                                        {{option.prenom}} Né le
                                        {{option.dateNaissance | date: 'dd/MM/yyyy'}}
                                    </mat-option>
                                </mat-autocomplete>
                            </div>
                        </div>

                    </div>

                    <!-- Display selected personnesRatachees as badges with a button to remove -->
                    <div class="display">
                        <div *ngFor="let personne of personnesRatachees; let i = index" class="badge-container">
                            <div class="badge-content">
                                <span>
                                    {{ personne.nom }} - {{ personne.prenom }} - {{ personne.sexe }} - {{
                                    personne.dateNaissance | date: 'dd/MM/yyyy' }}
                                </span>
                                <button mat-button class="btn remove-button" (click)="removePersonne(i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actionButton valBtn" >
                    <button class="btn retour" (click)="return()" title="{{'lists.button2' | translate}}">
                        <i class="fa fa-reply mr-1" aria-hidden="true"></i>
                    </button>
                    <button type="submit" class="btn btnValidation" title="{{btnLibelle}}">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>