select {
    border: none;
    box-shadow: 0 0 2px rgb(220, 220, 220);
    height: 24px;
    background-color: #28a74563;
    color: rgb(108, 108, 108);
    padding: 0 10px;
    border-radius: 5px;
  }
  
  .badge-container {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap; /* Allow badges to wrap to the next line */
  }
  
  .badge-content {
    background-color: #e0e0e0;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px; 
  }

  .display{
    display: flex;
    flex-wrap: wrap;
  }
  
  .remove-button {
    margin-left: 8px;
    cursor: pointer;
    background-color: red;
    color: white; 
    border: none; 
    padding: 4px 6px; 
    border-radius: 4px;
    font-size: 12px;
  }
  
  
  @media screen and (max-width: 600px) {
    .badge-content {
        flex-basis: 100%; 
        margin-right: 0;
    }
    .display .badge-container {
        width: 100%; /* Make the badge container take full width */
      }
  }
  