<div id="mainSection">
    <div class="card block">
        <div class="card-header pt-4 pb-4 entete">{{ titre }}</div>
        <div class="card-body">
            <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="nom" class="label">
                                        {{'patient.table.title1' | translate}}
                                    </label>
                                    <input type="text" formControlName="nom" name="nom" id="nom"  placeholder="{{'patient.table.title1' | translate}}"  class="form-control" required>
                                </div>
                                <div  *ngIf="submitted && f['nom'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['nom'].errors['required']">{{'patient.form.text1' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="prenom" class="label" >
                                        {{"patient.table.title2" | translate}}
                                    </label>
                                    <input  type="text" formControlName="prenom" name="prenom" id="prenom" placeholder="{{'patient.table.title2' | translate}}" class="form-control"  required  >
                                </div>
                                <div  *ngIf="submitted && f['prenom'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['prenom'].errors['required']">{{'patient.form.text2' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs">
                                <label  for="type" class="label">
                                    {{"patient.table.title4" | translate}}
                                </label>
                                <select  class="form-control" formControlName="sexe" name="sexe" id="sexe">
                                    <option value="M" >Homme</option>
                                    <option value="F">Femme</option>
                                </select>        
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="dateNaissance" class="label" >
                                        {{"patient.table.title6" | translate}}
                                    </label>
                                    <input  type="date" formControlName="dateNaissance"  name="dateNaissance" id="dateNaissance" placeholder="{{'patient.table.title3' | translate}}" value="1990-02-01" required class="form-control">
                                </div>
                                <div  *ngIf="submitted && f['dateNaissance'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['dateNaissance'].errors['required']">{{'patient.form.text3' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="mail" class="label" >
                                        {{"patient.table.title5" | translate}}
                                    </label>
                                    <input type="email" formControlName="mail"  name="mail"  id="mail" placeholder="{{'patient.table.title5' | translate}}"   required  class="form-control" >
                                </div>
                                <div  *ngIf="submitted && f['mail'].errors"  class="alert alert-danger" >
                                <div *ngIf="f['mail'].errors['required']">{{'patient.form.text4' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs">
                                <label  for="telephone"  class="label" >
                                    {{"patient.table.title7" | translate}}
                                </label>
                                <input type="text" formControlName="telephone" name="telephone" id="telephone" placeholder="{{'patient.table.title7' | translate}}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="adresse" class="label" >
                                        {{"patient.table.title6" | translate}}
                                    </label>
                                    <input type="text" formControlName="adresse"  name="adresse"  id="adresse" placeholder="{{'patient.table.title6' | translate}}" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actionButton">
                    <button class="btn" routerLink="../list-patients">{{'lists.button2' | translate}}</button>
                    <button type="submit" class="btn">{{btnLibelle}}</button>
                </div>
            </form>
        </div>
    </div>
</div>