select {
    border: none;
    box-shadow: 0 0 2px rgb(220, 220, 220);
    height: 24px;
    background-color: #28a74563;
    color: rgb(108, 108, 108);
    padding: 0 10px;
    border-radius: 5px;
  }
  
  .badge-container {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .badge-content {
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
    min-width: 48vw; /* Default min-width */
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (min-width: 1024px) {
    /* Adjust min-width for larger screens */
    .badge-content {
      min-width: 44.7vw; /* Set min-width for each badge when there are two badges per row */
    }

    .badge-content {   
      background-color: #e0e0e0;
      min-width: 21.9vw; /* Set min-width for each badge when there are two badges per row */
      border-radius: 4px;
      margin-right: 8px;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;

    }
    .badge-container {
      margin-top: 8px;
      display: flex;
    }
  }
  

  .display{
    display: flex;
    flex-wrap: wrap;
  }
  
  .remove-button {
    margin-left: 8px;
    cursor: pointer;
    color: white; 
    border: none; 
    padding: 4px 6px; 
    border-radius: 4px;
  }
  
  
  @media screen and (max-width: 600px) {
    .badge-content {
        flex-basis: 100%; 
        margin-right: 0;
    }
    .display .badge-container {
        width: 100%; /* Make the badge container take full width */
      }
  }
  