<div id="mainSection">
    <div class="card block">
        <div class="card-header pt-4 pb-4 entete">{{ titre }}</div>
        <div class="card-body">
            <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="nom" class="label">
                                        Nom
                                    </label>
                                    <input type="text" formControlName="nom" name="nom" id="nom"  placeholder="Nom"  class="form-control" required>
                                </div>
                                <div  *ngIf="submitted && f['nom'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['nom'].errors['required']">Le nom est obligatoire.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="prenom" class="label" >
                                        Prénom
                                    </label>
                                    <input  type="text" formControlName="prenom" name="prenom" id="prenom" placeholder="Prénom" class="form-control"  required  >
                                </div>
                                <div  *ngIf="submitted && f['prenom'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['prenom'].errors['required']">Le prénom est obligatoire.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="">
                                <label  for="sexe" class="label" style="width: 215px;font-weight: normal;" >
                                    Sexe
                                </label>
                                <select  class="btn-ptimary" formControlName="sexe" name="sexe" id="sexe">
                                    <option value="M" >Homme</option>
                                    <option value="F">Femme</option>
                                </select>        
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="dateNaissance" class="label" >
                                        Date de naissance
                                    </label>
                                    <input  type="date" formControlName="dateNaissance"  name="dateNaissance" id="dateNaissance" placeholder="dateNaissance" value="1990-02-01" required class="form-control">
                                </div>
                                <div  *ngIf="submitted && f['dateNaissance'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['dateNaissance'].errors['required']">La date de naissance est obligatoire.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="mail" class="label" >
                                    Email
                                    </label>
                                    <input type="email" formControlName="mail"  name="mail"  id="mail" placeholder="Email"   required  class="form-control" >
                                </div>
                                <div  *ngIf="submitted && f['mail'].errors"  class="alert alert-danger" >
                                <div *ngIf="f['mail'].errors['required']">Email est obligatoire.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs">
                                <label  for="telephone"  class="label" >
                                    Téléphone
                                </label>
                                <input type="text" formControlName="telephone" name="telephone" id="telephone" placeholder="Téléphone" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="adresse" class="label" >
                                    Adresse
                                    </label>
                                    <input type="text" formControlName="adresse"  name="adresse"  id="adresse" placeholder="Adresse" class="form-control" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actionButton">
                    <button class="btn" routerLink="../list-patients">Retour</button>
                    <button type="submit" class="btn">{{btnLibelle}}</button>
                </div>
            </form>
        </div>
    </div>
</div>