select {
    border: none;
    box-shadow: 0 0 2px rgb(220, 220, 220);
    height: 24px;
    background-color: #28a74563;
    color: rgb(108, 108, 108);
    padding: 0 10px;
    border-radius: 5px;
  }
  
  .display {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .badge-container {
    margin: 8px auto;
    width: 50%;
  }
  
  .badge-content {
    height: 40px;
    background-color: #28a7463c;
    border-radius: 3px;
    margin-left: 3px;
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px !important;
    span{
      margin-left: 1px;
    }
    .remove-button{
      height: 40px;
      background-color: #28a74563;
      color: red;
      font-size: 10px !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @media screen and (max-width: 600px) {
    .badge-content {
        flex-basis: 100%; 
        margin-right: 0;
    }
    .display .badge-container {
        width: 100%; /* Make the badge container take full width */
      }
  }
  