#mainBlock{
    background-color: #ffffff;
    padding: 5px;
    width: 30%;
    height: max-content !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBlock{
    width: 100% !important;
    padding: 0 5px;
    div{
        display: flex;
        align-items: center;
        label{
            margin-right: 5px;
        }
    }
}
.example-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    .mat-form-field{
        width: 95% !important;
    }
    .cameraBlock{
        width: 5% !important;
    }
}
.affichePersonne{
    margin: 20px auto 5px auto;
    width: 100%;
}