*{
    clear: both;
}
#mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block{
    width: 60%;
}
.entete{
    background-color: #28a745;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}.form-control{
    border: none;
    box-shadow: 0 0 2px rgb(220, 220, 220);
    height: 35px;
}
.champs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    label{
        width: 300px;
        font-weight: normal;
    }
    mat-label{
        font-weight: normal;
        font-size: 12px;
        position: relative;
        bottom: 5px;
    }
    .example-full-width{
        background-color: #28a745;
        padding: 0;
        width: 100%;
    }
}
.champs, .select, input, textarea{
    font-size: 15px;
}
#description{
    height: 100px;
}
.select{
    border: none;
    box-shadow: 0 0 2px rgb(220, 220, 220);
    background-color: #28a74563;
    color: rgb(108, 108, 108);
    border-radius: 5px;
    width: 100%;
}
.actionButton{
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
        background-color: #28a745;
        color: white;
        height: 30px;
        padding: 0 10px;
        font-size: 15px;
    }
    .btnValidation{
        background-color: #1473e6;
    }
}
.tableBlock{
    width: 100%;
    div{
        width: 100%;
    }
    table{
        .actions{
            font-size: 12px;
        }
    }
}
.actions button{
    font-size: 10px;
}
.result h2{
    opacity: 0.6;
}
#tableList{
    margin: 10px 0 30px 0;
}
mat-form-field{
    padding: 0;
    margin: 0;
    color: #28a745;
    line-height: normal;
    box-sizing: initial;
    input{
        padding: 0;
        border: none;
        margin: 0;
    }
}
mat-form-field:focus{
    border: none;
    padding: 0;
    margin: 0;
    input{
        padding: 0;
        color: #28a745;
        border: none;
        margin: 0;
    }
}  
.example-full-width {
    height: 42px !important;
    border: 2px solid #28a745;
    border-radius: 5px;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.searchBar {
    position: relative;
    top: -2px;
    padding: 0;
    margin: 0;
    color: #28a74596;
    border: none;
    font-size: small;
}
.searchBar:focus, .searchBar:active {
    position: relative;
    top: -2px;
    padding: 0;
    margin: 0;
    color: #28a74596;
    border: none;
}
.containHead{
    padding: 1% 0;
}
.containCell{
    padding-top: 20px;
}
td{
    font-size: 13px;
}
th{
    background-color: rgba(40, 167, 69, 0.2);
    color: #28a745 !important;
}
.listAttr{
    width: 100%;
    padding: 20px 5px;
    padding-right: 10px;
    background-color: #b3b3b30f;
    margin-bottom: 10px;
    border-radius: 3px;
    flex-wrap: wrap;
    float: right; position: relative;
    button{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        i{
            box-shadow: 0 0 2px rgb(220, 220, 220);
            color: #FFD700;
            opacity: 0.8;

        }
    }
}
.ordreInput{
    width: 70px;
    height: 22px;
    font-size: 11px;
}
.newCatSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    label{
        width: fit-content;
        white-space: nowrap;
        margin-right: 20px;
    }
    input{
        font-size: 12px;
    }
    #ordreCategorie{
        width: 50px;
    }
}
@media screen and (max-width: 1200px) {
    .title h2{
        font-size: 15px;
    }  
    .example-full-width {
        height: 42px !important;
        border: 2px solid #28a745;
    }
}
@media screen and (max-width: 1100px) {
    .title h2{
        font-size: 15px;
    } 
}
@media screen and (max-width: 1060px) {
    td{
        font-size: 12px;
    }
}
@media screen and (max-width: 910px) {
    .listAttr{
        width: 100%;
    }
}
@media screen and (max-width: 830px) {
    .listAttr{
        width: 100%;
    }
}