*{
    clear: both;
}
#mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block{
    width: 60%;
}
#etat, #affichagePrix, #contientRessources, #contientDistributeurs{
    height: 20px;
    padding: 0;
    input{
        border: none;
        box-shadow: none;
        padding: 0;
    }
}
.champs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    label{
        width: 300px;
        font-weight: normal;
    }
    .example-full-width{
        background-color: #28a745;
        padding: 0;
        width: 100%;
    }
}
.champs, .select, input, textarea{
    font-size: 15px;
}
.note, sup{
    color: orangered;
}
sup{
    font-style: normal;
}
.note{
    font-size: 10px;
    padding-top: 8px;
    opacity: 0.7;
}
.groupChamps{
    display: flex;
    width: 100%;
    .form-group{
        width: 60%;
    }
    .champs{
        margin: 2px 0;
        width: 100%;
    }
}