#mainSection{
    padding: 10px;
    flex-direction: column;
    margin: auto;
    width: 70%;
}
th{
    background-color: rgba(40, 167, 69, 0.2);
    color: #28a745 !important;
    width: max-content;
    text-align: center;
}
.ordreInput{
    width: 70px;
    height: 22px;
    font-size: 11px;
}
.newCatSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    label{
        width: fit-content;
        white-space: nowrap;
        margin-right: 20px;
    }
    input{
        font-size: 12px;
    }
    #ordreCategorie{
        width: 50px;
    }
}
.blockOrdreAttribut{
    background-color: red;
    width: 50px;
    input{
        border: none;
        width: 100%;
        box-shadow: 0 0 3px #28a745;
    }
}