<div id="" class="d-flex flex-column justify-content-around">
    <div class="title" id="top1">
        <app-entete class="title"></app-entete>
    </div>
    <div class="card container-fluid" id="top" >
        <div class='card-hearder pt-3' >
            <div class="d-flex align-items-center justify-content-end tableTools">
                <div class="form-inline mr-3">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label class="searchBar">{{'patient.search-bar' | translate}}</mat-label>
                          <input type="text" matInput aria-label="Rechercher" [formControl]="myControl" [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions" [value]="option" (onSelectionChange)="rechercherListingDocument(option)">
                              {{option.titre}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <div role="button" id="addUserBotton" routerLink="../document-nouveau">
                    <span title="Ajouter une mission">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-body p-0" id="tableBlock">
            <div class='table-responsive w-100'>
                <table class='table table-sm table-centered table-striped table-bordered w-100' mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">


                    <!-- titre Column -->
                    <ng-container matColumnDef="titre">
                        <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'document.table.title1' | translate}} </th>
                        <td class="text-dark text-center containCell" mat-cell *matCellDef="let element"> {{element.titre}} </td>
                    </ng-container>

                    <!-- description Column -->
                    <ng-container matColumnDef="description">
                        <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'document.table.title2' | translate}} </th>
                        <td class="text-dark text-center containCell" mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
                   <!-- typeMouvement Column -->
                    <ng-container matColumnDef="typeMouvement">
                        <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'document.table.title22' | translate}} </th>
                        <td class="text-dark text-center containCell" mat-cell *matCellDef="let element"> {{element.typeMouvement}} </td>
                    </ng-container>
                    <!-- etat Column -->
                    <ng-container matColumnDef="etat">
                        <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'services.form.label2' | translate}} </th>
                        <td class="text-dark text-center containCell" mat-cell *matCellDef="let element"> {{element.etat}} </td>
                    </ng-container>

                    <!-- missions Column -->
                    <ng-container matColumnDef="missions">
                        <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'document.table.title3' | translate}} </th>
                        <td class="text-dark text-center containCell" mat-cell *matCellDef="let element">
                            <span> {{element.listeMissions}} </span>
                        </td>
                    </ng-container>

                    <!-- attributs Column -->
                    <ng-container matColumnDef="attributs">
                        <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'document.table.title4' | translate}} </th>
                        <td class="text-dark text-center containCell" mat-cell *matCellDef="let element">
                            <span> {{element.listAttributs}} </span>
                        </td>
                    </ng-container>

                    <!-- categories Column -->
                    <ng-container matColumnDef="categories">
                        <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'document.table.title15' | translate}} </th>
                        <td class="text-dark text-center containCell" mat-cell *matCellDef="let element">
                            <span> {{element.listCategories}} </span>
                        </td>
                    </ng-container>

                    <!-- action column -->
                    <ng-container matColumnDef="actions">
                        <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"patient.table.title8" | translate}} </th>
                        <td class="text-dark text-center containCell" mat-cell *matCellDef="let element">
                            <div id="actions" class="dropdown open">
                                <button class="btn dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <span>...</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="triggerId">
                                    <button class="dropdown-item nav-link" [routerLink]="['/view-document',element.id]" title="{{'patient.table.actions.link3' | translate}}">
                                        <i class="fa fa-eye text-secondary" aria-hidden="true"></i>
                                        <span>{{'patient.table.actions.link3' | translate}}</span>
                                    </button>
                                    <button class="dropdown-item nav-link" [routerLink]="['/document-nouveau',element.id]" title="{{'patient.table.actions.link2' | translate}}">
                                        <i class="fa fa-pen text-info" aria-hidden="true"></i>
                                        <span>{{'patient.table.actions.link2' | translate}}</span>
                                    </button>

                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
