<div id="mainSection">
    <div class="card block">
        <div class="card-header pt-4 pb-4 entete">{{ titre }}</div>
        <div class="card-body">
            <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="titre" class="label">
                                        {{'attributs.table.title1' | translate}}
                                    </label>
                                    <input type="text" formControlName="titre" name="titre" id="titre"  placeholder="{{'attributs.table.title1' | translate}}"  class="form-control" required>
                                </div>
                                <div  *ngIf="submitted && f['titre'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['titre'].errors['required']">{{'attributs.form.text1' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="description" class="label" >
                                        {{'attributs.table.title2' | translate}}
                                    </label>
                                    <input  type="text" formControlName="description"  name="description" id="description" placeholder="{{'attributs.table.title2' | translate}}" value="" required class="form-control">
                                </div>
                                <div  *ngIf="submitted && f['description'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['description'].errors['required']">{{'attributs.form.text2' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="etat" class="label" >
                                        {{'attributs.table.title3' | translate}}
                                    </label>
                                    <input  type="text" formControlName="etat"  name="etat" id="etat" placeholder="{{'attributs.table.title3' | translate}}" value="" required class="form-control">
                                </div>
                                <div  *ngIf="submitted && f['etat'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['etat'].errors['required']">{{'attributs.form.text3' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs">
                                <label  for="dateCreation"  class="label" >
                                    {{'attributs.table.title4' | translate}}
                                </label>
                                <input type="date" formControlName="dateCreation" name="dateCreation" id="dateCreation" placeholder="{{'attributs.table.title4' | translate}}" class="form-control" >
                            </div>
                            <div  *ngIf="submitted && f['dateCreation'].errors"  class="alert alert-danger" >
                                <div *ngIf="f['dateCreation'].errors['required']">{{'attributs.form.text4' | translate}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs">
                                <label  for="dateModification"  class="label" >
                                    {{'attributs.table.title5' | translate}}
                                </label>
                                <input type="date" formControlName="dateModification" name="dateModification" id="dateModification" placeholder="{{'attributs.table.title5' | translate}}" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="champs">
                                <label  for="type" class="label">
                                    {{"attributs.table.title6" | translate}}
                                </label>
                                <select  class="form-control" formControlName="type" name="type" id="type" required>
                                    <option value="{{typeInt}}" >{{typeInt}}</option>
                                    <option value="{{typeString}}" >{{typeString}}</option>
                                    <option value="{{typeDouble}}" >{{typeDouble}}</option>
                                    <option value="{{typeFloat}}" >{{typeFloat}}</option>
                                    <option value="{{typeBoolean}}" >{{typeBoolean}}</option>
                                    <option value="{{typeDate}}" >{{typeDate}}</option>
                                </select>        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actionButton">
                    <button class="btn" routerLink="../list-attributs">{{'lists.button2' | translate}}</button>
                    <button type="submit" class="btn">{{btnLibelle}}</button>
                </div>
            </form>
        </div>
    </div>
</div>