<div id="mainSection">
    <div class="card block" id="top2">
        <div class="card-header" class="entete pt-4 pb-4 ">
          <h2>{{"services.title1" | translate}} {{titre}}</h2>
        </div>
        <div class="card-body">
            <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="nom" class="label">
                                        {{'services.form.label1' | translate}} <span style="color: red;" aria-label="required">*</span>
                                    </label>
                                    <input type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="{{'services.form.label1' | translate}}"  class="form-control" required>
                                </div>
                                <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['libelle'].errors['required']">{{'services.form.text1' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div>
                                <div class="champs">
                                    <label for="etat" class="label" >
                                        {{'services.form.label2' | translate}}
                                    </label>
                                    <p class="w-100 d-flex align-items-center choix" >
                                    <input  type="checkbox" checked value="true" formControlName="etat" class="form-control" name="etat" id="etat" placeholder="" >
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="localisation" class="label">
                                    {{'services.form.label3' | translate}}
                                  </label>
                                  <input type="text" formControlName="localisation" name="localisation" id="localisation"  placeholder="{{'services.form.label3' | translate}}"  class="form-control" required>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <div>
                            <div class="champs">
                                <label for="description" class="label">
                                  {{'services.form.label4' | translate}}
                                </label>
                                <input type="text" formControlName="description" name="description" id="description"  placeholder="{{'services.form.label4' | translate}}"  class="form-control" required>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="actionButton">
                    <button class="btn" routerLink="../list-services"><i class="fa fa-reply mr-1" aria-hidden="true"></i>{{'lists.button2' | translate}}</button>
                    <button type="submit" class="btn btnValidation">{{btnLibelle}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
