<!-- request-password-reset.component.html -->
<section class="gradient-custom">
    <form [formGroup]="requestForm" (ngSubmit)="requestReset()" *ngIf="requestForm" class="container py-5 h-100 justify-content-center align-items-center">
      <div class="row h-100">
          <div class="card bg-dark text-white border border-success shadow-lg bg-success" style="border-radius: 1rem;">
            <div class="card-body p-5">
  
              <div class="mb-md-2 mt-md-2 pb-2">
  
                <h2 class="fw-bold mb-2 text-uppercase text-center">E-MAIL</h2>
                <p class="text-white-50 mb-5 text-center">Please enter your login!</p>
  
                <div data-mdb-input-init class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Email</label>
                  <input id="email" formControlName="email" type="email" class="form-control border form-control-lg" />
                </div>
                <div class="alert alert-danger" *ngIf="requestForm.get('email')!.invalid && requestForm.get('email')!.touched">
                    <small *ngIf="f['email'].errors?.['required']">Email est requis.</small>
                    <small *ngIf="f['email'].errors!['email']">Email n'est pas valide.</small>
                  </div>
  
                <button [disabled]="requestForm.invalid" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-success btn-lg px-5 w-100" type="submit">Envoyer</button>
            </div>
            </div>
          </div>
      </div>
    </form>
  </section>