<div id="mainSection">
    <div class="card block" id="top2">
        <div class="card-header" class="entete pt-4 pb-4">
          {{"services.title1" | translate}} {{titre}}
        </div>
        <div class="card-body">
            <form [formGroup]="formeEtat" (ngSubmit)="onSubmit(formeEtat.value)" *ngIf="formeEtat" >
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="libelle" class="label">
                                        {{'services.form.label1' | translate}} <span style="color: red;" aria-label="required">*</span>
                                    </label>
                                    <input type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="{{'services.form.label1' | translate}}"  class="form-control" required>
                                </div>
                                <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                                    <div *ngIf="f['libelle'].errors['required']">{{'services.form.text1' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <div class="champs">
                                    <label for="description" class="label">
                                    {{'services.form.label4' | translate}}
                                    </label>
                                    <input type="text" formControlName="description" name="description" id="description"  placeholder="{{'services.form.label4' | translate}}"  class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actionButton">
                    <button class="btn" routerLink="../list-etats"><i class="fa fa-reply mr-1" aria-hidden="true"></i>{{'lists.button2' | translate}}</button>
                    <button type="submit" class="btn btnValidation">{{btnLibelle}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
