<div id="mainSection">
  <div class="card block" id="top2">
      <div class="card-header" class="entete pt-4 pb-4">
        {{'role.header' | translate}} {{titre}}
      </div>
      <div class="card-body">
          <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
              <div class="">
                  <div class="">
                      <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="titre" class="label">
                                    {{'role.table.title1' | translate}} <span style="color: red;" aria-label="required">*</span>
                                  </label>
                                  <input type="text" formControlName="titre" name="titre" id="titre"  placeholder="{{'role.table.title2' | translate}}"  class="form-control" required>
                              </div>
                              <div  *ngIf="submitted && f['titre'].errors"  class="alert alert-danger" >
                                  <div *ngIf="f['titre'].errors['required']">{{'role.form.text1' | translate}}Champ Obligatoire</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group" id="eta">
                        <div>
                            <div class="champs">
                              <label for="etat" class="label" >
                                {{'role.table.title3' | translate}}
                              </label>
                              <p class="w-100 d-flex align-items-center choix" >
                                <input  type="checkbox" checked value="true" formControlName="etat" name="etat" class="form-control" id="etat" >
                              </p>
                            </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div>
                            <div class="champs">
                                <label for="description" class="label" >
                                  {{'role.table.title4' | translate}}
                                </label>
                                <input type="text" formControlName="description"  name="description"  id="description" placeholder="{{'role.table.title5' | translate}}" class="form-control" >
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="actionButton valBtn" >
                <button class="btn retour" (click)="return()" title="{{'lists.button2' | translate}}">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                </button>
                <button type="submit" class="btn btnValidation" title="{{btnLibelle}}">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
              </div>
          </form>
      </div>
  </div>
</div>
