
#mainSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block{
  width: 60%;
}
input[ type=checkbox ]{
  border: none;
  color: red;
  margin-right: 265px;
  height: 17px;
  }
  input, #etat{
    border: none;
    box-shadow: none;
  }
.entete{
  background-color: #28a745;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}.form-control{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 35px;
}
.champs{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  label{
      width: 300px;
      font-weight: normal;
  }
}
.champs, select, input{
  font-size: 15px;
}
select{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220);
  height: 24px;
  background-color: #7ea97e63;
  color: rgb(108, 108, 108);
  padding: 0 10px;
  border-radius: 5px;
}
.actionButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  button{
      background-color: #28a745;
      color: white;
      height: 30px;
      padding: 0 10px;
      font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  input[ type=checkbox ]{
    margin-right: 185px;
   }

}
@media screen and (max-width: 1100px) {
  input[ type=checkbox ]{
    margin-right: 180px;
    }

}
@media screen and (max-width: 1060px) {
  input[ type=checkbox ]{
    margin-right: 150px;
    }

}
@media screen and (max-width: 900px) {
  input[ type=checkbox ]{
    margin-right: 200px;
    }

}
@media screen and (max-width: 990px) {
  input[ type=checkbox ]{
    margin-right:100px;
    }

}
@media screen and (max-width: 866px) {
  input[ type=checkbox ]{
    margin-right:175px;
    }

}
@media screen and (max-width: 751px) {
  input[ type=checkbox ]{
    margin-right:140px;
    }

}
@media screen and (max-width: 699px) {
  input[ type=checkbox ]{
    margin-right:120px;
    }

}
@media screen and (max-width: 594px) {
  input[ type=checkbox ]{
    margin-right:80px;
    }

}
@media screen and (max-width: 522px) {
  input[ type=checkbox ]{
    margin-right:60px;
    }
}
@media screen and (max-width: 428px) {
  input[ type=checkbox ]{
    margin-right:30px;
    }

}

@media screen and (max-width: 500px) {

  .example-full-width{
       width:80px;
       display:flex;
       justify-content:space-around;
     }
}

@media screen and (max-width: 990px) {
  input[ type=checkbox ]{
    margin-right:200px;
    }

}
@media screen and (max-width: 866px) {
  input[ type=checkbox ]{
    margin-right:180px;
    }

}
@media screen and (max-width: 751px) {
  input[ type=checkbox ]{
    margin-right:140px;
    }

}
@media screen and (max-width: 699px) {
  input[ type=checkbox ]{
    margin-right:10px;
    }

}
@media screen and (max-width: 500px) {

  .example-full-width{
       width:100px;
       display:flex;
       justify-content:space-around;
     }
}
