<div id="mainSection">
  <div class="card block" id="top2" *ngIf="etape">
    <div class="card-header" class="entete pt-4 pb-4">
      {{'etape.table.title' | translate}} {{titre}}
    </div>
    <div class="card-body">
      <form [formGroup]="forme" (ngSubmit)="onSubmit()" *ngIf="forme">
        <div class="">
          <div class="">
            <div class="form-group">
              <div>
                <div class="champs">
                  <label for="libelle" class="label">
                    {{'etape.table.title1' | translate}}<span style="color: red;" aria-label="required">*</span>
                  </label>
                  <input type="text" formControlName="libelle" name="libelle" id="libelle"
                    placeholder="{{'etape.table.title1' | translate}}" class="form-control" required>
                </div>
                <div *ngIf="submitted && f['libelle'].errors" class="alert alert-danger">
                  <div *ngIf="f['libelle'].errors['required']">{{'etape.form.text1' | translate}}</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div>
                <div class="champs">
                  <label for="etat" class="label">
                    {{'etape.table.title2' | translate}}
                  </label>
                  <p class="w-100 d-flex align-items-center choix">
                    <input type="checkbox" checked value="true" formControlName="etat" name="etat" class="form-control"
                      id="etat">
                  </p>
                </div>
              </div>
            </div>

            <!-- documents ------------------------------------------------- -->
            <div class="form-group">
              <div class="champs">
                <label for="" class="label">
                  {{'etape.title1' | translate}} <span aria-label="required"><sup>*</sup></span>
                </label>
                <div class="w-100">

                  <!-- Ouvrir le formulair de selection des documents -->
                  <div class="listAttr pr-5">
                    <button type="button" class="btn p-0" (click)="openSousDocumentDialog()">
                      <i class="fas fa-plus-square"></i>
                    </button>
                    <p class="pt-3">
                      <span *ngFor="let document of documents">
                        {{ document.titre }} <span>, </span>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="actionButton valBtn" >
          <button class="btn retour" type="button" (click)="closeModal()" title="{{'lists.button2' | translate}}">
              <i class="fa fa-undo" aria-hidden="true"></i>
          </button>
          <button type="submit" class="btn btnValidation" title="{{btnLibelle}}">
              <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>