<div id="mainSection">
    <div class="card block" id="top2">
        <div class="card-header" class="entete pt-4 pb-4">
          {{"personnel.table.actions.link7" | translate}}
        </div>
        <div class="card-body" >
            <form [formGroup]="forme" *ngIf="forme" >
                <div class="">
                    <div class="">
                        <p style="margin-top: 10px; font-size: medium;" class="label"><strong>{{'personnel.table.title1' |
                            translate}}:</strong> {{
                        personnel!.nom }} {{
                        personnel!.prenom }}
                    </p>
                    <hr>
                    <p style="font-size: medium;"><strong>{{"personnel.table.title4" | translate}}:</strong> {{
                        personnel!.sexe }}</p>
                    <hr>
                    <p style="font-size: medium;"><strong>{{"personnel.table.title5" | translate}}:</strong> {{
                        personnel!.email }}</p>
                    <hr>
                    <p style="font-size: medium;"><strong>{{"personnel.table.title3" | translate}}:</strong> {{
                        personnel!.dateNaissance | date: 'dd/MM/yyyy' }}</p>
                    <hr>
                    <p style="font-size: medium;"><strong>{{"personnel.table.title6" | translate}}:</strong> {{
                        personnel!.dateEntree | date: 'dd/MM/yyyy' }}</p>
                    <hr>
                    <p style="font-size: medium;"><strong>{{"personnel.table.title8" | translate}}:</strong> {{
                        personnel!.dateSortie | date | date: 'dd/MM/yyyy' }}</p>
                    <hr>
                    <p style="font-size: medium;"><strong>{{"personnel.table.title7" | translate}}:</strong> {{
                        personnel!.telephone }}</p>
                       <div style="display: flex;">
                        <hr style="width: 200px; background-color: gray;">
                        <div>
                            <p style="color: grey;">
                                Modifier mot de passe
                            </p>
                        </div>
                        <hr style="width: 200px; background-color: gray;">
                       </div>
                        <!-- Form Group (passWord)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="lastPwd">{{"personnel.table.title18" | translate}}</label>
                            <input type="password" formControlName="lastPwd"  name="lastPwd" id="lastPwd" placeholder="*********************" class="form-control">
                            <div *ngIf="submitted && f['lastPwd'].errors" class="alert alert-danger">
                                <div *ngIf="f['lastPwd'].errors['required']">Le mot de passe est requis.</div>
                              </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="newPwd">{{"personnel.table.title17" | translate}}</label>
                            <input type="password" formControlName="newPwd" name="newPwd" id="newPwd" placeholder="*********************" class="form-control">
                            <div *ngIf="submitted && f['newPwd'].errors" class="alert alert-danger">
                                <div *ngIf="f['newPwd'].errors['required']">Le mot de passe est requis.</div>
                                <div *ngIf="f['newPwd'].errors['invalidPassword']">Le mot de passe ne respecte pas le motif requis.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="nextPwd">{{"personnel.table.title19" | translate}}</label>
                            <input type="password" formControlName="nextPwd"  name="nextPwd" id="nextPwd" placeholder="*********************" class="form-control">
                            <div *ngIf="submitted && f['nextPwd'].errors" class="alert alert-danger">
                                <div *ngIf="f['nextPwd'].errors['required']">Le mot de passe est requis.</div>
                                <div *ngIf="f['nextPwd'].errors['invalidPassword']">Le mot de passe ne respecte pas le motif requis.</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="actionButton valBtn" >
                    <button class="btn retour" (click)="return()" title="{{'lists.button2' | translate}}">
                        <i class="fa fa-reply mr-1" aria-hidden="true"></i>
                    </button>
                    <button type="submit" (click)="onSubmit(forme.value)" class="btn btnValidation" title="{{btnLibelle}}">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
