<div id="mainSection">
  <div class="card block">
      <div class="card-header pt-4 pb-4 entete"> {{'famille.header' | translate}}</div>
      <div class="card-body">
        <form [formGroup]="forme" (ngSubmit)="onSubmit(forme.value)" *ngIf="forme" >
              <div class="">
                  <div class="">
                      <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="libelle" class="label">
                                    {{'famille.table.title1' | translate}}
                                  </label>
                                  <input type="text" formControlName="libelle" name="libelle" id="libelle"  placeholder="{{'famille.table.title1' | translate}}"  class="form-control" required>
                              </div>
                              <div  *ngIf="submitted && f['libelle'].errors"  class="alert alert-danger" >
                                  <div *ngIf="f['libelle'].errors['required']">{{'famille.form.text1' | translate}}</div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <div>
                              <div class="champs">
                                  <label for="description" class="label" >
                                    {{'famille.table.title2' | translate}}
                                  </label>
                                  <input  type="text" formControlName="description" name="description" id="description" placeholder=" {{'famille.table.title2' | translate}}" class="form-control"  required  >
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <div>
                            <div class="champs">
                                <label for="etat" class="label" >
                                  {{'famille.table.title3' | translate}}
                                </label>
                                <input  type="text" formControlName="etat" name="etat" id="etat" placeholder="{{'famille.table.title3' | translate}}" class="form-control"  required  >
                            </div>
                            <div  *ngIf="submitted && f['etat'].errors"  class="alert alert-danger" >
                                <div *ngIf="f['etat'].errors['required']">{{'famille.form.text2' | translate}}</div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="actionButton">
                  <button class="btn" routerLink="../list-familles">{{'famille.lists.button1' | translate}}</button>
                  <button type="submit" class="btn">{{btnLibelle}}</button>
              </div>
          </form>
      </div>
  </div>
</div>
