.mainBlock{
    background-color: #ffffff;
    padding-top: 5px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    background-color: #7ea97e;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 2px #7ea97e;
    padding: 10px 0;
    margin: 0 5px;
}
#titre{
    margin: 20px 0;
}
#description{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    p{
        margin: 0;
        margin-left: 5px;
        width: 50%;
        background-color: #7ea97e0e;
        padding: 10px;
        padding-top: 0;
        border-radius: 5px;
    }
}
.infos{
    padding: 0 20px;
    padding-bottom: 10px;
}
.infos p{
    margin: 40px 0;
    font-weight: 300;
}
.infos .title{
    font-weight: normal;
    text-transform: uppercase;
}
.block{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    background-color: #7ea97e2b;
    flex-wrap: wrap;
    padding: 10px;
}
.block .inputBlock{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 25%;
    margin: 15px 0;
    padding: 5px;
}
.block .inputBlock label{
    margin-right: 10px;
    text-transform: capitalize;
    font-weight: 400;
    margin-left: 5px;
    position: relative;
    top: 8px;
    opacity: 0.8;
}
.block .inputBlock label, .block .inputBlock input, .block .inputBlock textarea{
    font-size: 13px;
}
.titre{
    font-weight: 400 !important;
    padding: 20px 0 2px 0 !important;
}
.actionButton{
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding-bottom: 10px;
    button{
        background-color: #7ea97e;
        color: white;
        height: 30px;
        padding: 0 10px;
        font-size: 15px;
    }
}
.inputSpecial{
    width: fit-content !important;
    input{
        width: 20px;
    }
    label{
        margin-left: 0 !important;
    }
}
@media screen and (max-width: 872px) {
    .block .inputBlock{
        width: 33.2%;
    }
}
@media screen and (max-width: 640px) {
    .block .inputBlock{
        width: 50%;
    }
    h1{
        font-size: 18px;
    }
    p{
        font-size: 13px;
    }
}
@media screen and (max-width: 530px) {
    .block .inputBlock{
        width: 100%;
        margin: 0 !important;
    }
    h1{
        font-size: 15px;
    }
    p, span{
        font-size: 12px;
    }
}