.mainBlock{
    background-color: #ffffff;
    padding-top: 5px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    background-color: #28a745;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 2px #28a745;
    padding: 10px 0;
    margin: 0 5px;
}
h3{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    opacity: 0.8;
    font-weight: bold;
}
#titre{
    margin: 20px 0;
}
#description{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    p{
        margin: 0;
        margin-left: 5px;
        width: 50%;
        background-color: #28a7450e;
        padding: 10px;
        padding-top: 0;
        border-radius: 5px;
    }
}
.infos{
    padding: 0 20px;
    padding-bottom: 10px;
}
.infos p{
    margin: 40px 0;
    font-weight: 300;
}
.infos .title{
    font-weight: normal;
    text-transform: uppercase;
}
.contentBlock{
    display: flex;
    align-items: start;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 0 10px 10px;
}
.block1{
    background-color: #28a7452b !important;
}
.block1 .inputBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24% !important;
    margin: 2px 5px;
    padding: 5px;
}
#controlsSupprimeBlock{
    border-radius: 0% !important;
    border: none;
    h3{
        font-size: 15px;
        color: red;
        opacity: 0.5;
        margin: 10px 0;
        i{
            font-size: 12px;
            margin-left: 5px;
        }
    }
}
.block1 .inputBlock label{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    top: 5px;
    opacity: 0.8;
    width: 30%;
}
.block1 .inputBlock label, .block1 .inputBlock input, .block1 .inputBlock textarea{
    font-size: 13px;
}
.block1 .inputBlock input, .block1 .inputBlock textarea, .block1 .inputBlock select{
    width: 70%;
    height: 35px;
}
.titre{
    font-weight: 400 !important;
    padding: 20px 0 2px 0 !important;
}
.actionButton{
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding-bottom: 10px;
    button{
        background-color: #28a745;
        color: white;
        height: 30px;
        padding: 0 10px;
        font-size: 15px;
    }
    .btnValidation{
        background-color: #28a745;
    }
}
.inputSpecial{
    width: fit-content !important;
    input{
        width: 20px;
    }
    label{
        margin-left: 0 !important;
    }
}
#sectionAjoutPreco{
    background-color: #ffffff !important;
}
.searchBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2px;
}
.searchBlockUnique{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 2px;
    .blockAutoRessources{
        width: 100%;
    }
    .blockAutoRessources form{
        justify-content: start;
    }
}
.searchBlockUnique h4{
    white-space: noWrap;
}
.blockAutoRessources, .blockAutoDistributeurs{
    width: 48%;
    display: flex;
    align-items: center;
    margin: 2px;
    h4{
        width: fit-content;
        margin: auto 0;
        margin-right: 2px;
    }
}
.blockAutoRessources form{
    justify-content: end;
}
.example-form{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    h4{
        font-size: 13px;
        margin-right: 2px;
        width: fit-content;
    }
    .example-full-width {
    height: 42px !important;
    border: 2px solid #28a745;
    }
    .mat-input{
        position: absolute;
        bottom: 100px;
        height: 20px !important;
    }
}
#tableList{
    margin: 10px 0 30px 0;
}
mat-form-field{
    padding: 0;
    margin: 0;
    color: #28a745;
    line-height: 0;
    box-sizing: initial;
    font-family: inherit;
    input{
        padding: 0;
        border: none;
        margin: 0;
    }
}
.searchBar {
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    color: #28a74596;
    border: none;
    font-size: small;
    line-height: normal;
}
.mat-header-cell {
    padding-top: 0;
    width: max-content;
    text-align: center;
}
.mat-cell {
    height: 0;
    text-align: center;
}
.mat-row, .mat-cell {
    padding: 0;
    margin: 0;
}
.mat-form-field-infix {
    padding: 0;
    border-top: none;
}
.mat-form-field-wrapper {
    padding-bottom: 0 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0;
}
.containCell{
    label{
        display: flex;
        margin: auto;
        padding: 0;
        input{
            margin: auto;
            border: none;
            box-shadow: 0 0 3px #80808031;
            height: 20px;
            font-size: 12px;
            width: 80%;
        }
    }
}
.containHead{
    padding: 1% 0;
}
.containCell{
    padding-top: 20px;
}
td{
    font-size: 13px;
}
th{
    background-color: rgba(40, 167, 69, 0.2);
    color: #28a745 !important;
    text-align: center;
}
.tableBlock{
    width: 100%;
    div{
        width: 100%;
    }
    table{
        .actions{
            margin: 0;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }
}
.actions button{
    font-size: 10px;
}
.actions span{
    font-size: 10px;
}
.total{
    width: 100%;
    text-align: right;
    input{
        width: 14%;
        position: relative;
        bottom: 8px;
        background-color: #28a7464e;
        border: none;
        border-radius: 2px;
        margin-right: 1px;
    }
    span{
        color: #28a745;
        position: relative;
        bottom: 8px;
    }
}
.modifierDistributeurBlock{
    height: 100%;
    position: relative;
    span{
        position: absolute;
        right: 2px;
    }
}
.btnModifierDistributeurBlock{
    border: 1px solid #28a745;
    height: 46px;
    font-size: 10px;
}
@media screen and (max-width: 1040px) {
    .block1 .inputBlock{
        width: 31% !important;
        label{
            width: 35%;
            font-size: 12.5px !important;
        }
        input, select, textarea{
            width: 65%;
            font-size: 12.5px !important;
        }
    }
}
@media screen and (max-width: 872px) {
    .contentBlock{
        padding: 8px 10px;
    }
    .block1 .inputBlock{
        width: 31% !important;
        margin: 2px 4.5px;
        padding: 4px;
        label{
            width: 35%;
            font-size: 12px !important;
        }
        input, select, textarea{
            width: 65%;
            font-size: 12px !important;
            height: 30px;
        }
    }
    h3{
        font-size: 15px;
    }
    .example-form{
        width: 50%;
    }
    .example-form{
        flex-wrap: wrap;
        width: 50%;
    }
    .blockAutoRessources form{
        justify-content: start;
    }
}
@media screen and (max-width: 800px) {
    .searchBlock h4{
        white-space: noWrap;
    }
}
@media screen and (max-width: 700px) {
    .contentBlock{
        padding: 6px 10px;
    }
    .block1 .inputBlock{
        margin: 2px 4px;
        label{
            width: 35%;
            font-size: 11px !important;
        }
        input, select, textarea{
            width: 65%;
            font-size: 11px !important;
        }
    }
    h3{
        font-size: 14px;
    }
}
@media screen and (max-width: 580px) {
    .contentBlock{
        padding: 5px 10px;
    }
    .block1 .inputBlock{
        margin: 2px 3px;
        padding: 2.8px;
        width: 47% !important;
        label{
            width: 25%;
            font-size: 10px !important;
        }
        input, select, textarea{
            width: 75%;
            font-size: 10px !important;
            height: 25px;
        }
    }
    h1{
        font-size: 17px;
    }
    h3{
        font-size: 13px;
    }
    p{
        font-size: 12.5px;
    }
}
@media screen and (max-width: 520px) {
    .searchBlock{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .example-form{
            width: 100%;
            justify-content: space-between;
            margin: 2px 0;
        }
    }
}
@media screen and (max-width: 500px) {
    .contentBlock{
        padding: 3px 10px;
    }
    .block1 .inputBlock{
        margin-top: 2px;
        margin-top: 2px;
        padding: 2.8px;
        width: 100% !important;
    }
    h1{
        font-size: 15px;
    }
    p, span{
        font-size: 12px;
    }
}
