<div class="mainBlock">
    <form [formGroup]="formeExemplaire" (ngSubmit)="onSubmit(formeExemplaire.value)" *ngIf="formeExemplaire" >
                
        <h1>
            {{this.exemplaire.titre}}
        </h1>
        <div class="infos">
            <p id="titre">
                <span class="title"> {{'document.table.title1' | translate}} : </span>
                {{this.exemplaire.titre}}
            </p>
            <p class="titre">
                Enregistrez les informations de cet exemplaire
            </p>
            <div class="block" formArrayName="_exemplaireDocument">
                <div class="inputBlock"  *ngFor="let exemplaire of exemplaire.attributs; let i=index; ">
                    <label [for]="exemplaire.id" class="form-label">{{exemplaire.titre}}</label>
                    <input type="text" class="form-control" [formControlName]="i" [name]="exemplaire.id" [id]="exemplaire.id" placeholder="entrer la valeur ici" required>
                </div>
            </div>
        </div>
        <div>
            <input type="submit" value="Enregistrer"/>
        </div>
    </form>
</div>

<p>
    {{formeExemplaire.value | json}}
</p>