.mainBlock{
    padding-top: 5px;
}
.entete{
    background-color: #28a745;
    border-radius: 5px;
    box-shadow: 0 0 2px #28a745;
    margin: 0 5px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        margin: auto;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
        width: fit-content;
    }
}
.lien{
    color: rgba(255, 255, 255, 0.7);
    transition: ease 0.2s;
    font-size: 18px;
    margin-top: 10px;
}
.lien:hover{
    color: rgba(255, 255, 255, 0.8);
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
}
#titre{
    margin: 20px 0;
}
.hoverBlock{
    display: flex;
    position: relative;
    transition: ease-in-out 0.2s;
}
.hoverBlock:hover{
    #description{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 400px;
        position: absolute;
        right: 0px;
        top: 60px;
        font-size: 12px;
        background-color: #28a7450e;
        padding: 10px;
        padding-top: 0;
        p{
            margin: 0;
            margin-left: 5px;
            border-radius: 5px;
        }
        .titl{
            font-weight: normal;
            text-transform: uppercase;
            white-space: nowrap;
        }
    }
}
.hoverBlock .infoBuble{
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 8px;
}
.hoverBlock .infoBuble i{
    font-size: 20px;
}
.hoverBlock:hover{
    transition: ease-in-out 0.2s;
    transform: scale(1.1);
}
#description{
    display: none;
}
.infos{
    padding: 0 20px;
    padding-bottom: 10px;
}
.options {
    padding: 0 10px;
    padding-bottom: 10px;
}
.options button {
    margin-left: 10px;
}
.infos p{
    margin: 40px 0;
    font-weight: 300;
}
.infos .titl{
    font-weight: normal;
    text-transform: uppercase;
}
th{
    background-color: #28a7452f;
    color: #28a745;
}
