<div id="mainSection" class="bg-light card modalCategorie modalContentScroll">
    <form [formGroup]="formePrecoMvt" *ngIf="formePrecoMvt" class="w-100">
        <div class="form-group mt-5">
            <div class='card-hearder'>
                <h2 class="modal-title">{{'preconisation.form.title1' | translate}}</h2>
            </div>
            <div class="newAttSection">
                <div class="searchBlock">
                    <form class="example-form-entete">
                        <input placeholder="{{'patient.search-bar' | translate}}" type="text" matInput aria-label="Rechercher" [formControl]="myControl" [matAutocomplete]="auto">
                        <mat-autocomplete class="blockAutocomplate" #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option class="options" *ngFor="let option of filteredOptions" [value]="option" (onSelectionChange)="rechercherListingPreco(option)">
                                {{option.libelle}}
                            </mat-option>
                        </mat-autocomplete>
                    </form>
                </div>

                <!-- tableau listing des PrecoMvts -->

                <div class="card-body p-0 tableBlock" id="tableBlock">
                    <div class='table-responsive w-100'>
                        <table class='table table-sm table-centered table-striped table-bordered w-100' mat-table [dataSource]="dataSourcePreco" matSort (matSortChange)="announceSortChange($event)">

                            <!-- libelle Column -->
                            <ng-container matColumnDef="libelle">
                                <th class="text-dark containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'preconisation.table.title1' | translate}} </th>
                                <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.libelle}} </td>
                            </ng-container>

                            <!-- type Column -->
                            <ng-container matColumnDef="type">
                                    <th class="text-dark containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'preconisation.table.title3' | translate}} </th>
                                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.type}}</td>
                            </ng-container>

                            <!-- Actions column -->
                            <ng-container matColumnDef="actions">
                                <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"patient.table.title8" | translate}} </th>
                                <td class="text-dark containCell" mat-cell *matCellDef="let element">
                                    <div class="actions">
                                        <input type="checkbox" [value]="element.libelle" name="PrecoMvts" id="PrecoMvts" (click)="getPrecoMvtId(element.id)" (change)="onCheckPrecoMvtChange($event)">
                                        <span role="button" (click)="getPrecoMvtId(element.id); openViewPrecoDialog()"><i class="fa fa-info-circle text-info" aria-hidden="true" title="{{'preconisation.table.title4' | translate}}"></i></span>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedPrecoMvtsColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedPrecoMvtsColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]"
                                       showFirstLastButtons
                                       aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </div>
                </div>
                <!-- tableau affichage des resultats -->
                <div class="result">
                    <h2>
                        {{'document.title1' | translate}}
                    </h2>
                    <div class="card" >
                        <div class="card-body p-0 tableBlock" id="tableResultats">
                            <div class='table-responsive w-100 m-0 modaleTableConteneur'>
                                <table class='table table-sm table-centered table-striped w-100' mat-table [dataSource]="dataSourcePrecoResultat" matSort (matSortChange)="announceSortChange($event)">
                                    <!-- libelle Column -->
                                    <ng-container matColumnDef="libelle">
                                        <th class="text-dark containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'preconisation.table.title1' | translate}} </th>
                                        <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.libelle}} </td>
                                    </ng-container>
                                    <!-- description Column -->
                                    <ng-container matColumnDef="etat">
                                        <th class="text-dark containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'preconisation.table.title2' | translate}} </th>
                                        <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.etat}} </td>
                                    </ng-container>
                                    <!-- type Column -->
                                    <ng-container matColumnDef="type">
                                        <th class="text-dark containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'preconisation.table.title3' | translate}} </th>
                                        <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.type}} </td>
                                    </ng-container>
                                    <!-- actions Column -->
                                    <ng-container matColumnDef="actions">
                                        <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"patient.table.title8" | translate}} </th>
                                        <td class="text-dark containCell" mat-cell *matCellDef="let element;  let i=index">
                                            <div class="actions">
                                                <button class="btn p-0" name="PrecoMvts"  [value]="element.id" id="PrecoMvts" title="clicker pour annuler la selection" (click)="retirerSelectionPrecoMvt(i)">
                                                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                                </button>
                                                <span><i class="fa fa-info-circle text-info" aria-hidden="true" title="{{'preconisation.table.title4' | translate}}"></i></span>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedPrecoMvtsColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedPrecoMvtsColumns;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                               showFirstLastButtons
                                               aria-label="Select page of periodic elements">
                                </mat-paginator>
                            </div>
                            <div class="actionButton valBtn mt-2">
                                <button mat-button [mat-dialog-close] cdkFocusInitial class="btn btnValidation" title="{{'lists.button6' | translate}}">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
