.title{
    height: 100px;
    h2{
        color: #7ea97e;
    }
}
.searchBlock{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-right: 8px;
    button{
        width: 7%;
        background-color: #7ea97e;
        color: white;
    }
    .inputSection{
        width: 91%;
        input{
            border: none;
            border: 1px solid #7ea97e21;
        }
    }
}
.tableTools{
    padding-bottom: 15px;
    #addUserBotton{
        background-color: #7ea97e;
        color: white;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        span{
            padding: 6px;
            border: none;
            border-radius: 3px;
        }
        span:hover{
            box-shadow: 0 0 2px #7ea97e;
            transition: ease 0.23s;
        }
    }
}
#tableBlock{
    width: 100%;
    div{
        width: 100%;
    }
    table{
        #actions{
            font-size: 12px;
            .dropdown-toggle{
                padding: 0;
                margin-left: 10px;
                color: #7ea97e;
                span{
                    position: relative;
                    bottom: 6px;
                    font-size: 28px;
                    margin-right: 5px;
                }
            }
            div{
                button{
                    color: #7ea97e;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        width: 70%;
                        text-align: left;
                    }
                }
            }
        }
    }
}