
.title{
    height: 100px;
    h2{
        color: #28a745;
    }
}
.searchBlock{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-right: 8px;
    button{
        width: 7%;
        background-color: #28a745;
        color: white;
    }
    .inputSection{
        width: 91%;
        input{
            border: none;
            border: 1px solid #28a74521;
        }
    }
}
.tableTools{
    padding-bottom: 15px;
    #addUserBotton{
        background-color: #FFD700;
        color: white;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
    }
}
#tableBlock{
    width: 100%;
    div{
        width: 100%;
    }
    table{
        #actions{
            font-size: 12px;
            .dropdown-toggle{
                padding: 0;
                margin-left: 10px;
                color: #28a745;
                span{
                    position: relative;
                    bottom: 6px;
                    font-size: 28px;
                    margin-right: 5px;
                }
            }
            div{
                button{
                    color: #28a745;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        width: 70%;
                        text-align: left;
                    }
                }
            }
        }
    }
}
mat-form-field{
    padding: 0;
    margin: 0;
    color: #28a745;
    line-height: normal;
    box-sizing: initial;
    input{
        padding: 0;
        border: none;
        margin: 0;
    }
}
mat-form-field:focus{
    border: none;
    padding: 0;
    margin: 0;
    input{
        padding: 0;
        color: #28a745;
        border: none;
        margin: 0;
    }
}  
.example-full-width {
    height: 42px !important;
    border: 2px solid #28a745;
    border-radius: 5px;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.searchBar {
    position: relative;
    top: -2px;
    padding: 0;
    margin: 0;
    color: #28a74596;
    border: none;
}
.searchBar {
    position: relative;
    top: -2px;
    padding: 0;
    margin: 0;
    color: #28a74596;
    border: none;
    font-size: small;
}
.searchBar:focus, .searchBar:active {
    position: relative;
    top: -2px;
    padding: 0;
    margin: 0;
    color: #28a74596;
    border: none;
}
.containHead{
    padding: 1% 10px;
    margin: auto;
    text-align: center;
}
.containCell{
    padding-top: 20px;
    text-align: center;
}
td{
    font-size: 13px;
}
th{
    background-color: rgba(40, 167, 69, 0.2);
    color: #28a745 !important;
}
@media screen and (max-width: 1200px) {
    .title h2{
        font-size: 15px;
    }  
    .example-full-width {
        height: 42px !important;
        border: 2px solid #28a745;
    }
}
@media screen and (max-width: 1100px) {
    .title h2{
        font-size: 15px;
    } 
}
@media screen and (max-width: 1060px) {
    td{
        font-size: 12px;
    }
}