<div id="mainSection" class="d-flex flex-column justify-content-around">
    <div class="title">
        <h2>Liste de tous les services</h2>
    </div>
    <div class="card container-fluid" >
        <div class='card-hearder pt-3' >
            <div class="d-flex align-items-center justify-content-end mr-4 tableTools">
                <div class="form-inline mr-3">
                    <div class="input-group" data-widget="sidebar-search">
                      <input class="form-control form-control-sidebar" type="search" placeholder="Rechercher" aria-label="Search">
                      <div class="input-group-append">
                        <button class="btn btn-secondary btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                        </button>
                      </div>
                    </div>
                </div>
                <div role="button" id="addUserBotton" routerLink="../patient-nouveau">
                    <span title="Ajouter un patient">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-body p-0" id="tableBlock">
            <div class='table-responsive w-100'>
                <table class='table text-left w-100'>
                    <thead>
                        <tr>
                            <th>Libelle</th>
                            <th>Etat</th>
                            <th>Date Naissance</th>
                            <th>date de derniere modification</th>
                            <th>date d'attribution</th>
                            <th>date de fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let service of (services$ | async) as services'>
                            <td >{{service.libelle}} </td>
                           <td > {{service.etat}}</td>
                           <td>{{service.dateDerniereModification}}</td>
                            <td>{{service.dateAttribution}}</td>
                            <td>{{service.dateFin}}</td>
                            <td>{{service.nombreTotalAttributions}}</td>
                        <td>
                            <div id="actions" class="dropdown open">
                                <button class="btn dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <span>...</span>
                                </button>
                                <!--<div class="dropdown-menu" aria-labelledby="triggerId">
                                    <button class="dropdown-item nav-link" [routerLink]="['new-services']" title="Orienter">
                                        <i class="fa fa-map-pin" aria-hidden="true"></i>
                                        <span>Orienter</span>
                                    </button>
                                    <button class="dropdown-item nav-link" [routerLink]="['new-services']" title="Ajouter">
                                        <i class="fa fa-eye text-secondary" aria-hidden="true"></i>
                                        <span>Ajouter</span>
                                    </button>
                                    <button class="dropdown-item nav-link" [routerLink]="['/service-nouveau',service.id]" title="Voir">
                                        <i class="fa fa-pen text-info" aria-hidden="true"></i>
                                        <span>Voir</span>
                                    </button>
                                    <button class="dropdown-item nav-link" [routerLink]="['/service-nouveau',service.id]" title="Supprimer">
                                        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                                        <span>Supprimer</span>
                                    </button>
                                </div>-->
                            </div>
                        </td>
                    </tr>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
