/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
    display: flex;
    // overflow: auto;
    // pointer-events: auto; 
}
.modalCategorie .mat-form-field-infix {
    padding: 0;
    border-top: none;
}
.modalCategorie .mat-form-field-wrapper {
    padding-bottom: 15px !important;
}
.mat-select-value {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: wrap;
    position: relative;
    bottom: 12px;
}