/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: AbrilFatface;
    src: url(assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: FrankRuhlLibre;
    src: url(assets/fonts/Frank_Ruhl_Libre/FrankRuhlLibre-VariableFont_wght.ttf);
}
@font-face {
    font-family: lato;
    src: url(assets/fonts/Lora/Lora-VariableFont_wght.ttf);
}
@font-face {
    font-family: PlayfairDisplay;
    src: url(assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
h1, h2, h3, h4, h5, h6{
    font-family: FrankRuhlLibre !important;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
}
body, table, .mat-table {
    font-family: FrankRuhlLibre !important;
}
#menuVerticalGauche #logo, #menuVerticalGauche #userActions .user{
    font-family: AbrilFatface !important;
}
.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 9999 !important;
    display: flex;
}
.modalCategorie .cdk-overlay-pane {
    padding: 0;
    border-top: none;
}
.modalCategorie .mat-form-field-infix {
    padding: 0;
    border-top: none;
}
.modalCategorie .mat-form-field-wrapper {
    padding-bottom: 15px !important;
}
.mat-select-value {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: wrap;
    position: relative;
    bottom: 12px;
}
mat-dialog-container {
    background-color: transparent !important;
    border: none;
}
.mat-dialog-container{
    border-radius: none;
    box-shadow: none;
}
#mainSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block{
  width: 60%;
}
.entete{
  background-color: #28a745;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.form-control{
  border: none !important;
  box-shadow: 0 0 2px rgb(220, 220, 220) !important;
  height: 35px ;
}
.champs{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  label{
      width: 300px;
      font-weight: normal !important;
  }
  sup{
      font-style: normal;
  }
}
.note, sup{
    color: orangered;
}
.champs, select, input{
  font-size: 15px;
}
select{
  border: none;
  box-shadow: 0 0 2px rgb(220, 220, 220)!important;
  height: 24px;
  background-color: #28a74563;
  color: rgb(108, 108, 108)!important;
  padding: 0 10px;
  border-radius: 5px;
}
.actionButton{
  display: flex;
  align-items: center;
  justify-content: space-between;
  button{
      background-color: #28a745;
      color: white;
      height: 30px;
      padding: 0 10px;
      font-size: 15px;
  }
  .btnValidation{
    background-color:#28a745;// #1473e6;
}
}
.button-right {
  margin-left: auto;
}
.container {
  display: flex;
  align-items: center;
}
.choix{
  color: #28a745;
  font-size: 18px;
  font-weight: 500;
  input{
      font-size: 200px;
      height: 15px;
      width: 15px;
      color: #28a745;
      margin-right: 5px;
  }
}
#top2{
  margin-top: -40px;
}
//ICI COMMENCE LE LISTING
.title{
  height: 100px;
  h2{
      color: #28a745;
      //text-transform: uppercase;
  }
}
.searchBlock{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  margin-right: 8px;
  button{
      width: 7%;
      background-color: #28a745;
      color: white;
  }
  .inputSection{
      width: 91%;
      input{
          border: none;
          border: 1px solid #28a74521;
      }
  }
}
.tableTools{
  padding-bottom: 15px;
  #addUserBotton{
      background-color: #FFD700;
      color: white;
      font-size: 20px;
      padding: 10px;
      border-radius: 5px;
  }
}

mat-form-field{
  padding: 0;
  margin: 0;
  color: #28a745;
  line-height: normal;
  box-sizing: initial;
  input{
      padding: 0;
      border: none;
      margin: 0;
  }
}
mat-form-field:focus{
  border: none;
  padding: 0;
  margin: 0;
  input{
      padding: 0;
      color: #28a745;
      border: none;
      margin: 0;
  }
}
.example-full-width {
  height: 42px !important;
  border: 2px solid #28a745;
  border-radius: 5px;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.searchBar {
  position: relative;
  top: -2px;
  padding: 0;
  margin: 0;
  color: #28a74596;
  border: none;
}
.searchBar {
  position: relative;
  top: -2px;
  padding: 0;
  margin: 0;
  color: #28a74596;
  border: none;
  font-size: small;
}
.searchBar:focus, .searchBar:active {
  position: relative;
  top: -2px;
  padding: 0;
  margin: 0;
  color: #28a74596;
  border: none;
}
.containHead{
  padding: 1% 10px !important;
  margin: auto !important;
  text-align: center !important;
}
.containCell{
  padding-top: 20px !important;
  text-align: center !important;
}
td{
  font-size: 13px!important;
}
#top1{
  margin-top: -45px;
}
#top{
  margin-top: -70px;
}

.align-items{
  display: flex;
}


@media screen and (max-width: 1200px) {
  .title h2{
      font-size: 15px;
      text-transform: uppercase;
  }
  .example-full-width {
      height: 42px !important;
      border: 2px solid #28a745;
  }
}
@media screen and (max-width: 1100px) {
  .title h2{
      font-size: 15px;
      text-transform: uppercase;
  }
}
@media screen and (max-width: 1060px) {
  td{
      font-size: 12px;
  }
}
