<div id="" class="d-flex flex-column justify-content-around">
    <app-entete class="title" id="top1"></app-entete>
    <div class="card container-fluid" id="top">
        <div class='card-hearder pt-3' >
            <div class="d-flex align-items-center justify-content-end tableTools">
                <div class="form-inline mr-3">
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <mat-label class="searchBar">{{'patient.search-bar' | translate}}</mat-label>
                          <input type="text" matInput aria-label="Rechercher" [formControl]="myControl" [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredOptions" [value]="option" (onSelectionChange)="rechercherListingTicket(option)">
                              {{option.idUnique}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body p-0" id="tableBlock">
            <div class='table-responsive w-100'>
                <table class='table table-sm table-centered table-striped table-bordered w-100' mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                  <!-- id Column -->
                  <ng-container matColumnDef="id">
                    <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'tickets.table.title1' | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>

                  <!-- idUnique Column -->
                  <ng-container matColumnDef="idUnique">
                    <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'tickets.table.title2' | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.idUnique}} </td>
                  </ng-container>

                  <!-- date_heure Column -->
                  <!-- <ng-container matColumnDef="date_heure">
                    <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'tickets.table.title3' | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.date_heure}} </td>
                  </ng-container> -->

                  <!-- idFileAttente Column -->
                  <ng-container matColumnDef="idFileAttente">
                    <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'tickets.table.title4' | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.idFileAttente}} </td>
                  </ng-container>

                  <!-- idPersonne Column -->
                  <ng-container matColumnDef="idPersonne">
                    <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'tickets.table.title5' | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.idPersonne}} </td>
                  </ng-container>

                  <!-- statut Column -->
                  <ng-container matColumnDef="statut">
                    <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef mat-sort-header> {{'tickets.table.title6' | translate}} </th>
                    <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.statut}} </td>
                  </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="actions">
                        <th class="text-dark pl-5 containHead" mat-header-cell *matHeaderCellDef> {{"patient.table.title8" | translate}} </th>
                        <td class="text-dark containCell" mat-cell *matCellDef="let element">
                            <div id="actions" class="dropdown open">
                                <button class="btn dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <span>...</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="triggerId">
                                  <div class="d-flex justify-content-center">
                                    <button *ngIf="element.statut == statutTicketTraite" class="btn"
                                      [useExistingCss]="true"
                                      styleSheetFile="assets/css/ticketPrint.scss"
                                      printSectionId="ticketView"
                                      ngxPrint (click)="recupIdTicket(element.id); ticketAImprimer()">
                                      <i class="fa fa-print fa-1x text-secondary mr-3" aria-hidden="true"></i> {{'lists.button1' | translate}}
                                    </button>
                                    <button *ngIf="element.statut != statutTicketTraite" disabled class="btn text-sm">
                                      {{'lists.button5' | translate}}
                                    </button>
                                  </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator style="background-color: rgba(40, 167, 69, 0.79);" [pageSizeOptions]="[5, 10, 20]"
                                 showFirstLastButtons
                                 aria-label="Select page of periodic elements">
                  </mat-paginator>
            </div>
        </div>
    </div>
</div>



<div id="ticketView" class="card d-none" style="width: 20%;">
  <div class="title">
    <div class="d-flex align-items-center justify-content-between">
          <img src="../../../../assets/img/logo_camnafaw.jpg" alt="" width="40px">
          <h2>CAMNAFAW</h2>
      </div>
      <small>{{'tickets.form.text1' | translate}}</small>
  </div>
  <div class="objetTicket pt-3 pb-3">
      <h3>Ticket de validation service</h3>
  </div>
  <div id="filigramme">
      <div id="ticketContent">
          <p><span>{{'tickets.form.label1' | translate}}</span>{{this.ticketImpression!.idFileAttente}}</p>
          <p><span>{{'tickets.form.label2' | translate}}</span>{{this.ticketImpression!.idUnique}}</p>
          <p><span>{{'tickets.form.label3' | translate}}</span>{{this.ticketImpression!.date_heure | date: 'dd/MM/yyyy A hh:mm:ss'}}</p>
          <p><span>{{'tickets.form.label4' | translate}}</span>{{this.patientCorrespondant!.nom}}</p>
          <p class="barCode pt-2 pb-1">
              <i class="fa fa-barcode fa-4x" aria-hidden="true"></i>
              <i class="fa fa-barcode fa-4x" aria-hidden="true"></i>
              <i class="fa fa-barcode fa-4x" aria-hidden="true"></i>
          </p>
      </div>
  </div>
</div>
