<div id="mainSection" class="">
    <div class="w-100">
        <div class="w-100">
            <div class="w-100">
                <div class="block w-100 card">
                        <div class="blockNom">
                            <p>{{patientRecent?.nom}}</p>
                            <p class="numero">
                                <span id="numero">{{ticketRecent?.idUnique}}</span> 
                                <span>N<sup>o</sup> ticket</span>
                            </p> 
                        </div>
                        <div class="options pb-2">
                            <button class="btn btn-primary">traiter</button>
                            <button class="btn btn-secondary boutonAppel">Appel</button>
                            <button class="btn" title="Renvoyer dans la file">Renvoyer</button>
                        </div>
                </div>
            </div>

        </div>
    </div>
</div>