<div id="" class="d-flex flex-column justify-content-around">
  <div class="title" id="top1">
      <app-entete class="title"></app-entete>
  </div>
  <div class="card container-fluid" id="top">
      <div class='card-hearder pt-3' >
          <div class="d-flex align-items-center justify-content-end  tableTools">
              <div class="form-inline mr-2">
                  <form class="example-form-entete">
                    <input placeholder="{{'patient.search-bar' | translate}}" type="text" matInput aria-label="Rechercher" [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions" [value]="option" (onSelectionChange)="rechercherListingDistributeur(option)">
                        {{option.raisonSocial}}
                    </mat-option>
                    </mat-autocomplete>
                  </form>
              </div>
              <div role="button" id="addUserBotton" routerLink="../distributeur-nouveau">
                  <span title="Ajouter un patient">
                      <i class="fa fa-user-plus" aria-hidden="true"></i>
                  </span>
              </div>
          </div>
      </div>
      <div class="card-body p-0" id="tableBlock">
          <div class="table-responsive w-100">
              <table class='table table-sm table-centered table-striped table-bordered w-100' mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                <!-- nom Column -->
                <ng-container matColumnDef="raisonSocial">
                  <th class="containHead" mat-header-cell *matHeaderCellDef mat-sort-header>{{"distributeur.table2.title1"| translate}}</th>
                  <td class="containCell" mat-cell *matCellDef="let element"> {{element.raisonSocial}} </td>
                </ng-container>

                <!-- adresse Column -->
                <ng-container matColumnDef="adresse">
                  <th class="text-dark containHead" mat-header-cell *matHeaderCellDef>{{"distributeur.table2.title2"| translate}}</th>
                  <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.adresse}} </td>
                </ng-container>
                  <!-- libellé Column -->
                  <ng-container matColumnDef="etat">
                    <th class="containHead" mat-header-cell *matHeaderCellDef mat-sort-header>{{"distributeur.table2.title3"| translate}}</th>
                    <td class="containCell" mat-cell *matCellDef="let element"> {{element.etat}} </td>
                </ng-container>

                <!-- telephone Column -->
                <ng-container matColumnDef="telephone">
                  <th class="text-dark containHead" mat-header-cell *matHeaderCellDef>{{"distributeur.table2.title4"| translate}}</th>
                  <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.telephone}} </td>
                </ng-container>

                <!-- mail Column -->
                <ng-container matColumnDef="mail">
                  <th class="text-dark containHead" mat-header-cell *matHeaderCellDef>{{"distributeur.table2.title5"| translate}}</th>
                  <td class="text-dark containCell" mat-cell *matCellDef="let element"> {{element.mail}} </td>
                </ng-container>



                <!-- action Column -->
                <ng-container matColumnDef="actions">
                  <th class="text-dark containHead" mat-header-cell *matHeaderCellDef> {{"patient.table.title8" | translate}} </th>
                  <td class="text-dark containCell" mat-cell *matCellDef="let element">
                      <div id="actions" class="dropdown open">
                          <button class="btn dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                              <span>...</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="triggerId">
                              <button class="dropdown-item nav-link" [routerLink]="['/distributeur-nouveau',element.id]" title="{{'patient.table.actions.link2' | translate}}">
                                  <i class="fa fa-pen text-info" aria-hidden="true"></i>
                                  <span>{{'patient.table.actions.link2' | translate}}</span>
                              </button>
                          </div>
                      </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>

      </div>


  </div>
</div>

